.mat-card {
  font-size: 1em;
  margin-bottom: 15px;
  &.normal {
    background: #35fe30;
    color: #000;
  }
  &.alert {
    background: #fefc30;
    color: #000;
  }
  &.danger {
    background: #fe3030;
    color: #fff;
  }

  .amount {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
  .desc {
    text-align: center;
  }
}
.example-card {
  .picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;

    transform: translate(-50%);
    left: 50%;
    margin-top: -70px !important;
    img {
      max-height: 100%;
    }
  }
  .welcome {
    padding-top: 40px;
    text-align: center;
    font-size: inherit;
    .name {
      font-size: 1.2em;
    }
    .function {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
