<h3 class="mat-dialog-title">{{ data.title }}</h3>
<div class="mat-dialog-content mat-typography">
  <p>{{ data.description }}</p>
  <mat-list dense *ngIf="data.items != null && data.items.length > 0">


    <table mat-table #table [dataSource]="data.items" mdSort>
      <ng-container *ngFor="let col of columns" matColumnDef={{col}}>
        <th mat-header-cell *matHeaderCellDef md-sort-header> {{ col }}</th>
        <td mat-cell *matCellDef="let row"> {{row[col]}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>


  </mat-list>
</div>
<div class="mat-dialog-actions" align="end">
  <button mat-button (click)="onCancelClick()">{{ cancelButtonText }}</button>
  <button mat-button (click)="onConfirmClick()" cdkFocusInitial>{{ confirmButtonText }}</button>
</div>
