@mixin badge-content($uikit-theme) {
  .mat-badge {
    transition: $transition;

    &.mat-badge-small {


      &.mat-badge-warn {
        .mat-badge-content {
          color: $color-warn !important;
        }
        &:hover,
        &[aria-expanded='true'] {
          .mat-badge-content {
            color: $color-warn-contrast !important;
          }
        }
      }
      &.mat-badge-accent {
        .mat-badge-content {
          color: $color-accent !important;
        }
        &:hover,
        &[aria-expanded='true'] {
          .mat-badge-content {
            color: $color-accent-contrast !important;
          }
        }
      }

      .mat-badge-content {
        top: 2px !important;
        right: 2px !important;
        transform: scale(0.4);
        font-size: $badge-small-size;
      }
      &:hover,
      &[aria-expanded='true'] {
        .mat-badge-content {
          transform: scale(1);
        }
      }
    }
  }
}

@include badge-content($uikit-theme);
