@mixin card-theme($uikit-theme) {
  $mat-card-padding: 16px;

  mat-card {
    border-radius: 0px !important;
    padding: $mat-card-padding !important;

    .mat-card-content {
      .mat-form-field {
        width: 100%;
      }
    }
    .mat-card-header ~ .mat-card-image {
      margin-top: -$mat-card-padding;
    }
    .mat-card-header-text {
      flex: auto;
      margin: 0;
      .mat-card-title {
        border-bottom: 1px solid $color-primary-border;
        margin-bottom: $mat-gutter-padding;
        padding-bottom: $mat-gutter-padding;
      }
    }

    .btn-options {
      position: absolute;
      right: 0;
      top: $mat-gutter-padding/2;
      &.contrast {
        color: $color-accent-contrast;
      }
    }

    .mat-card-actions {
      margin: 0 #{-$mat-card-padding} -38px #{-$mat-card-padding} !important;

      form {
        display: flex;
        .mat-form-field {
          flex: auto;
        }
        button {
          margin: 0px;
          margin-bottom: 22px;
          border-radius: 0px;
        }
      }
    }
  }
}

@include card-theme($uikit-theme);
