@mixin list-theme($uikit-theme) {
  .mat-list-item {
    min-height: 48px !important;
    height: auto !important;
    display: grid !important;
    margin: 0px !important;
  }
  .mat-list-icon {
    font-size: $font-size-body !important;
  }
  .list-reader {
    .mat-list-icon {
      margin-right: 7px !important;
      padding: 0px !important;
    }
    .mat-list-item {
      &[aria-selected='true'],
      &.is-read {
        opacity: 0.55;
        text-decoration: line-through;
      }

    }
  }
}


@mixin list-skeleton-theme($uikit-theme) {
  .is-loading {
    .mat-list-item-content {
      position: relative;
      &:before {
        content: ".";
        width: calc(100%);
        left: 0;
        background: #e6e6e6;
        opacity: 1;
        color:transparent;
        position: absolute;
      }
    }
  }

}



@include list-theme($uikit-theme);
@include list-skeleton-theme($uikit-theme);
