@mixin toolbar-theme($uikit-theme) {
  mat-toolbar {
    height: $mat-toolbar-height !important;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1em !important;
    border-bottom: 1px solid $color-primary-border;
    transition: $transition;
    z-index: 1;
  }
}

@include toolbar-theme($uikit-theme);
