<mat-menu #notificationMenu="matMenu">
  <mat-list class="dropdown-list list-reader" (click)="$event.stopPropagation()">
    <h3 mat-subheader>
      Notificações
        <mat-chip color="accent" selected>{{ (quantidadeDeNotificacoesNaoLidas$ | async) }} nova(s)</mat-chip>
    </h3>
    <mat-nav-list>



        <uikit-notificacao [nome]="not.nome" [icone]="not.icone" [descricao]="not.descricao" [data]="not.data" [read]="not.read" *ngFor="let not of (notificacoes$ | async)" nome="teste" descricao="awdadwa" read="false" ></uikit-notificacao>


    </mat-nav-list>
  </mat-list>

  <!-- <mat-action-list>
      <a  mat-list-item routerLink=".">ver todos</a>
    </mat-action-list> -->
</mat-menu>

<button
  tabindex="3"
  mat-icon-button
  color="primary"
  [matMenuTriggerFor]="notificationMenu"
  matTooltip="Notificações"
  aria-label="Notificações"
  matBadge="{{ (quantidadeDeNotificacoesNaoLidas$ | async) }}"
  matBadgeColor="accent"
  matBadgeSize="small"
>
  <mat-icon class="fa-2x far fa-bell"></mat-icon>
</button>
