<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="isLoading" class="error">
          <div class="corpo-carregamento">
              <div class="area-quadros">
                <span class="primeiro"></span>
                <span class="segundo"></span>
                <span class="terceiro"></span>
                <span class="quarto"></span>
              </div>
              <h3>Carregando...</h3>
          </div> 
      </div>
      <div *ngIf="!isLoading" class="error">
        <div *ngIf="!(isAuthenticated$ | async);else alreadyAuthenticated">
          <!--INICIO DA IMAGEM NÃO AUTENTICADO-->
          <svg xmlns="http://www.w3.org/2000/svg" width="280px" height="306px" viewBox="0 0 293.98 317.04">
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_2-2" data-name="Layer 2">
                    <path class="autenticado-1" d="M251.38,47.53l.11,260.28-175,1-.6-21.86s-.27-28.07-.57-61.18L75,185.84c-.31-42.58-.52-90.33-.26-114.1.1-10.09-2-17.41,33.91-22L215.15,32.36S243.68,23.77,251.38,47.53Z" />
                    <polygon class="autenticado-2" points="201.01 34.69 75.42 273.18 75.42 236.63 180.55 38.02 201.01 34.69" />
                    <polygon class="autenticado-2" points="252.28 93.71 135.56 308.69 76 308.8 81.8 282.38 212.52 32.82 251.49 41.63 252.28 93.71" />
                    <path class="autenticado-3" d="M75.63,245.32s22.16,11.32,35.45,0,4.35-20.46-.1-22.4C106.75,221.05,89.27,218.79,75.63,245.32Z" />
                    <path class="autenticado-3" d="M67.47,232.6s21.84-14.86,18-33-16.83-14.47-20.9-11.32C60.74,191.25,49.71,206.37,67.47,232.6Z" />
                    <path class="autenticado-3" d="M55.15,222.23s-7-33.13-30.34-37.51S.34,198.67,1.19,204C2.19,210.18,15.4,230.48,55.15,222.23Z" />
                    <path class="autenticado-4" d="M75,185.86c-.31-42.58-.52-90.33-.27-114.11.11-10.08-2-17.41,33.91-22L215.22,32.38" />
                    <path class="autenticado-4" d="M76,286.93s-.27-28.06-.57-61.17" />
                    <polyline class="autenticado-4" points="251.45 47.55 251.57 307.83 78.51 308.8" />
                    <ellipse class="autenticado-3" cx="238.84" cy="26.4" rx="25.53" ry="23.96" transform="matrix(0.3, -0.95, 0.95, 0.3, 142.69, 246.62)" />
                    <path class="autenticado-5" d="M231.69,21V14.85s0-3.38,5.75-3.38,7.75,0,7.75,3.13v9" />
                    <path class="autenticado-6" d="M248.69,23.6l-21.25,1.62v11s.12,5,10.62,5,10.63-7.37,10.63-7.37Z" />
                    <line class="autenticado-6" x1="238.06" y1="29.73" x2="238.06" y2="35.91" />
                    <path class="autenticado-3" d="M230,167.05,96,173.24a6.21,6.21,0,0,1-6.38-6.33v-8.42a6.24,6.24,0,0,1,5.84-6.33l134-6.19a6.21,6.21,0,0,1,6.38,6.33v8.42A6.24,6.24,0,0,1,230,167.05Z" />
                    <path class="autenticado-3" d="M230,204,96,210.17a6.21,6.21,0,0,1-6.38-6.33v-8.41a6.25,6.25,0,0,1,5.84-6.34l134-6.18a6.21,6.21,0,0,1,6.38,6.33v8.41A6.24,6.24,0,0,1,230,204Z" />
                    <path class="autenticado-7" d="M231.8,233l-67,3.65c-1.74.09-3.19-1.61-3.19-3.74v-5c0-2,1.29-3.65,2.92-3.74l67-3.65c1.74-.09,3.19,1.61,3.19,3.74v5C234.71,231.24,233.43,232.89,231.8,233Z" />
                    <line class="autenticado-4" x1="157.95" y1="245.69" x2="242.1" y2="241.07" />
                    <rect class="autenticado-3" x="38.98" y="286.93" width="47.83" height="6.58" />
                    <path class="autenticado-3" d="M84.19,293.52c0,10-5.68,15.28-5.68,15.28-5.1,6.23-11.65,5.42-15.88,5.42s-10.78.81-15.89-5.42c0,0-5.68-5.24-5.68-15.28Z" />
                    <line class="autenticado-4" x1="32.59" y1="316.04" x2="93.21" y2="316.04" />
                    <polyline class="autenticado-4" points="15.81 199.22 59.19 224.6 63.56 286.93 69.56 202.97" />
                    <line class="autenticado-4" x1="66.97" y1="248.48" x2="89.63" y2="240.22" />
                    <line class="autenticado-4" x1="5.76" y1="307.83" x2="24.81" y2="307.83" />
                    <line class="autenticado-4" x1="31.54" y1="307.83" x2="45.93" y2="307.83" />
                    <line class="autenticado-4" x1="251.45" y1="307.83" x2="292.98" y2="307.83" />
                    <path class="autenticado-7" d="M139,138.24l6.9-.4v1.58l-8.88.51-.07-14.87,2-.11Z" />
                    <path class="autenticado-7" d="M147.22,133.71a6.44,6.44,0,0,1,1.28-4.11,4.56,4.56,0,0,1,3.53-1.79,4.14,4.14,0,0,1,3.57,1.38,5.85,5.85,0,0,1,1.32,4v.22a6.42,6.42,0,0,1-1.28,4.12,4.62,4.62,0,0,1-3.54,1.78,4.15,4.15,0,0,1-3.56-1.37,5.87,5.87,0,0,1-1.32-4Zm2,.11a5.16,5.16,0,0,0,.74,2.86,2.28,2.28,0,0,0,2.17,1,2.54,2.54,0,0,0,2.13-1.27,5.39,5.39,0,0,0,.72-2.94v-.22a5.15,5.15,0,0,0-.75-2.85,2.29,2.29,0,0,0-2.17-1,2.53,2.53,0,0,0-2.13,1.28,5.46,5.46,0,0,0-.71,2.93Z" />
                    <path class="autenticado-7" d="M158.91,133.35A7.63,7.63,0,0,1,160,129a3.86,3.86,0,0,1,3.15-1.81,3.54,3.54,0,0,1,1.81.32,3.32,3.32,0,0,1,1.31,1.14l.23-1.45,1.57-.09.06,11.11a4.5,4.5,0,0,1-1.2,3.34,5.2,5.2,0,0,1-3.49,1.34,6.73,6.73,0,0,1-1.69-.13,6.4,6.4,0,0,1-1.6-.5l.5-1.59a4.93,4.93,0,0,0,1.28.42,6.22,6.22,0,0,0,1.48.1,3,3,0,0,0,2.1-.79,2.92,2.92,0,0,0,.64-2.07v-1.25a3.76,3.76,0,0,1-1.27,1.12,4.15,4.15,0,0,1-1.7.45,3.53,3.53,0,0,1-3.14-1.29,5.8,5.8,0,0,1-1.16-3.79Zm2,.1a4.49,4.49,0,0,0,.71,2.64,2.24,2.24,0,0,0,2.1.89,2.68,2.68,0,0,0,1.49-.5,3.41,3.41,0,0,0,1-1.23l0-5.09a2.89,2.89,0,0,0-1-1.06,2.52,2.52,0,0,0-1.48-.33,2.44,2.44,0,0,0-2.1,1.33,6.21,6.21,0,0,0-.69,3.14Z" />
                    <path class="autenticado-7" d="M173.09,124l-2,.12V122l2-.11Zm.07,13.88-2,.12-.05-11,2-.12Z" />
                    <path class="autenticado-7" d="M177.9,126.53l.15,1.63a4.45,4.45,0,0,1,1.35-1.44,3.75,3.75,0,0,1,1.86-.59A3.34,3.34,0,0,1,184,127a4.45,4.45,0,0,1,1,3.18l0,7-2,.12,0-6.94a2.94,2.94,0,0,0-.57-2,2.13,2.13,0,0,0-1.74-.51,2.86,2.86,0,0,0-1.5.5,3.31,3.31,0,0,0-1,1.21l0,8.06-2,.11-.05-11.05Z" />
                    <path class="autenticado-8" d="M189.48,230.88l2.73-.15v.62l-3.51.2,0-5.87.78-.05Z" />
                    <path class="autenticado-8" d="M192.74,229.1a2.58,2.58,0,0,1,.51-1.63,1.82,1.82,0,0,1,1.39-.71,1.66,1.66,0,0,1,1.41.55,2.29,2.29,0,0,1,.52,1.57V229a2.53,2.53,0,0,1-.51,1.62,1.84,1.84,0,0,1-1.4.71,1.66,1.66,0,0,1-1.41-.55,2.29,2.29,0,0,1-.52-1.56Zm.78,0a2,2,0,0,0,.29,1.13.9.9,0,0,0,.86.4,1,1,0,0,0,.84-.5,2.19,2.19,0,0,0,.29-1.16v-.09a2,2,0,0,0-.29-1.12.89.89,0,0,0-.86-.41,1,1,0,0,0-.84.5,2.22,2.22,0,0,0-.28,1.16Z" />
                    <path class="autenticado-8" d="M197.36,229a3,3,0,0,1,.44-1.72,1.52,1.52,0,0,1,1.24-.72,1.47,1.47,0,0,1,.72.13,1.32,1.32,0,0,1,.52.45l.09-.57.62,0,0,4.39a1.74,1.74,0,0,1-.47,1.32,2.07,2.07,0,0,1-1.38.53,3.21,3.21,0,0,1-.67-.05,2.74,2.74,0,0,1-.63-.2l.2-.63a2.09,2.09,0,0,0,.5.17,2.38,2.38,0,0,0,.59,0,1.2,1.2,0,0,0,.83-.31,1.14,1.14,0,0,0,.25-.82v-.5a1.53,1.53,0,0,1-.5.45,1.58,1.58,0,0,1-.67.17,1.39,1.39,0,0,1-1.24-.51,2.23,2.23,0,0,1-.46-1.49Zm.78,0a1.74,1.74,0,0,0,.28,1,.9.9,0,0,0,.83.35,1.12,1.12,0,0,0,.59-.2,1.33,1.33,0,0,0,.39-.48v-2a1.08,1.08,0,0,0-.4-.42.91.91,0,0,0-.58-.13,1,1,0,0,0-.83.52,2.56,2.56,0,0,0-.27,1.24Z" />
                    <path class="autenticado-8" d="M203,225.25l-.78,0v-.81l.78,0Zm0,5.48-.78.05,0-4.37.78,0Z" />
                    <path class="autenticado-8" d="M204.86,226.26l.06.64a1.78,1.78,0,0,1,.53-.56,1.55,1.55,0,0,1,.74-.24,1.33,1.33,0,0,1,1.07.35,1.73,1.73,0,0,1,.39,1.26v2.76l-.78,0v-2.74a1.17,1.17,0,0,0-.23-.81.85.85,0,0,0-.68-.2,1.13,1.13,0,0,0-.6.2,1.28,1.28,0,0,0-.41.48l0,3.18-.78,0,0-4.36Z" />
                </g>
            </g>
           </svg>
          <!--FIM DA IMAGEM NÃO AUTENTICADO-->
          <h3><b>Você não está autenticado!</b></h3>
          <button mat-raised-button color="primary" (click)="login()">Fazer Login</button>
        </div>
        <ng-template #alreadyAuthenticated>
          <!-- IMAGEM NÃO TEM PERMISSÃO-->
          <svg xmlns="http://www.w3.org/2000/svg" width="280px" height="306px" viewBox="0 0 293.98 317.04">
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_2-2" data-name="Layer 2">
                    <path class="naoautenticado-1" d="M251.38,47.53l.11,260.28-175,1-.6-21.86s-.27-28.07-.57-61.18L75,185.84c-.31-42.58-.52-90.33-.26-114.1.1-10.09-2-17.41,33.91-22L215.15,32.36S243.68,23.77,251.38,47.53Z" />
                    <polygon class="naoautenticado-2" points="201.01 34.69 75.42 273.18 75.42 236.63 180.55 38.02 201.01 34.69" />
                    <polygon class="naoautenticado-2" points="252.28 93.71 135.56 308.69 76 308.8 81.8 282.38 212.52 32.82 251.49 41.63 252.28 93.71" />
                    <path class="naoautenticado-3" d="M75.63,245.32s22.16,11.32,35.45,0,4.35-20.46-.1-22.4C106.75,221.05,89.27,218.79,75.63,245.32Z" />
                    <path class="naoautenticado-3" d="M67.47,232.6s21.84-14.86,18-33-16.83-14.47-20.9-11.32C60.74,191.25,49.71,206.37,67.47,232.6Z" />
                    <path class="naoautenticado-3" d="M55.15,222.23s-7-33.13-30.34-37.51S.34,198.67,1.19,204C2.19,210.18,15.4,230.48,55.15,222.23Z" />
                    <path class="naoautenticado-4" d="M75,185.86c-.31-42.58-.52-90.33-.27-114.11.11-10.08-2-17.41,33.91-22L215.22,32.38" />
                    <path class="naoautenticado-4" d="M76,286.93s-.27-28.06-.57-61.17" />
                    <polyline class="naoautenticado-4" points="251.45 47.55 251.57 307.83 78.51 308.8" />
                    <ellipse class="naoautenticado-3" cx="238.84" cy="26.4" rx="25.53" ry="23.96" transform="matrix(0.3, -0.95, 0.95, 0.3, 142.69, 246.62)" />
                    <path class="naoautenticado-5" d="M231.69,21V14.85s0-3.38,5.75-3.38,7.75,0,7.75,3.13v9" />
                    <path class="naoautenticado-6" d="M248.69,23.6l-21.25,1.62v11s.12,5,10.62,5,10.63-7.37,10.63-7.37Z" />
                    <line class="naoautenticado-6" x1="238.06" y1="29.73" x2="238.06" y2="35.91" />
                    <rect class="naoautenticado-3" x="38.98" y="286.93" width="47.83" height="6.58" />
                    <path class="naoautenticado-3" d="M84.19,293.52c0,10-5.68,15.28-5.68,15.28-5.1,6.23-11.65,5.42-15.88,5.42s-10.78.81-15.89-5.42c0,0-5.68-5.24-5.68-15.28Z" />
                    <line class="naoautenticado-4" x1="32.59" y1="316.04" x2="93.21" y2="316.04" />
                    <polyline class="naoautenticado-4" points="15.81 199.22 59.19 224.6 63.56 286.93 69.56 202.97" />
                    <line class="naoautenticado-4" x1="66.97" y1="248.48" x2="89.63" y2="240.22" />
                    <line class="naoautenticado-4" x1="5.76" y1="307.83" x2="24.81" y2="307.83" />
                    <line class="naoautenticado-4" x1="31.54" y1="307.83" x2="45.93" y2="307.83" />
                    <line class="naoautenticado-4" x1="251.45" y1="307.83" x2="292.98" y2="307.83" />
                    <path class="naoautenticado-7" d="M169.64,103.69a67,67,0,1,0,67,67A67.07,67.07,0,0,0,169.64,103.69Zm0,117.23a50.3,50.3,0,0,1-50.25-50.24,49.65,49.65,0,0,1,9.3-29.1l70,70A49.55,49.55,0,0,1,169.64,220.92Zm40.94-21.14-70-70a49.55,49.55,0,0,1,29.1-9.3,50.3,50.3,0,0,1,50.24,50.24A49.62,49.62,0,0,1,210.58,199.78Z" />
                    <path class="naoautenticado-8" d="M166.57,102a67,67,0,1,0,67,67A67.07,67.07,0,0,0,166.57,102Zm0,117.24A50.3,50.3,0,0,1,116.33,169a49.65,49.65,0,0,1,9.3-29.1l70,70.05A49.62,49.62,0,0,1,166.57,219.2Zm40.94-21.15-70-70a49.65,49.65,0,0,1,29.1-9.3A50.3,50.3,0,0,1,216.82,169,49.56,49.56,0,0,1,207.51,198.05Z" />
                </g>
            </g>
          </svg>
          <!-- FIM DA IMAGEM NÃO TEM PERMISSÃO-->
          <h3>Você não possui <b>permissão</b> para acessar esta página!</h3>
          <button mat-raised-button color="warn" (click)="goBack()">Clique aqui para voltar</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
