
/*IMAGEM NÃO AUTENTICADO*/
.autenticado-1 {
    fill: #EDF3FF;
}

.autenticado-2,
.autenticado-3 {
    fill: #d9e4fc;
}

.autenticado-2 {
    opacity: 0.15;
}

.autenticado-3,
.autenticado-4,
.autenticado-5,
.autenticado-6 {
    stroke: #004BCB;
    stroke-miterlimit: 10;
}

.autenticado-3,
.autenticado-4,
.autenticado-6 {
    stroke-linecap: round;
}

.autenticado-3,
.autenticado-4 {
    stroke-width: 2px;
}

.autenticado-4,
.autenticado-5,
.autenticado-6 {
    fill: none;
}

.autenticado-5,
.autenticado-6 {
    stroke-width: 3px;
}

.autenticado-7 {
    fill: #004BCB;
}

.autenticado-8 {
    fill: #fff;
}

.mat-raised-button.mat-warn {
    background-color:#FB3E54;
}
/*IMAGEM ACESSO NÃO AUTORIZADO*/
.naoautenticado-1 {
    fill: #EDF3FF;
}

.naoautenticado-3,
.naoautenticado-7 {
    fill: #EDF3FF;
}

.naoautenticado-2 {
    opacity: 0.15;
    fill:#FB3E54;
}

.naoautenticado-3,
.naoautenticado-4,
.naoautenticado-5,
.naoautenticado-6 {
    stroke: #FB3E54;
    stroke-miterlimit: 10;
}

.naoautenticado-3,
.naoautenticado-4,
.naoautenticado-6 {
    stroke-linecap: round;
}

.naoautenticado-3,
.naoautenticado-4 {
    stroke-width: 2px;
}

.naoautenticado-4,
.naoautenticado-5,
.naoautenticado-6 {
    fill: none;
}

.naoautenticado-5,
.naoautenticado-6 {
    stroke-width: 3px;
}

.naoautenticado-8 {
    fill: #FB3E54;
}

/*IMAGEM DE CARREGAMENTO*/
    .area-quadros {
    width: 50px;
    height: 50px;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 0;
  }
  .area-quadros span {
    position: relative;
    width: 25px;
    height: 25px;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: inline-block;
  }
  .area-quadros span::before {
    content: '';
    background-color: #015EFD;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -moz-animation: folding 2.5s infinite linear both;
    -webkit-animation: folding 2.5s infinite linear both;
    animation: folding 2.5s infinite linear both;
  }
  .area-quadros .segundo {
    -moz-transform: rotateZ(90deg) scale(1.1);
    -ms-transform: rotateZ(90deg) scale(1.1);
    -webkit-transform: rotateZ(90deg) scale(1.1);
    transform: rotateZ(90deg) scale(1.1);
  }
  .area-quadros .segundo::before {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: #004BCB;
  }
  .area-quadros .terceiro {
    -moz-transform: rotateZ(270deg) scale(1.1);
    -ms-transform: rotateZ(270deg) scale(1.1);
    -webkit-transform: rotateZ(270deg) scale(1.1);
    transform: rotateZ(270deg) scale(1.1);
  }
  .area-quadros .terceiro::before {
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    background-color: #0041AF;
  }
  .area-quadros .quarto {
    -moz-transform: rotateZ(180deg) scale(1.1);
    -ms-transform: rotateZ(180deg) scale(1.1);
    -webkit-transform: rotateZ(180deg) scale(1.1);
    transform: rotateZ(180deg) scale(1.1);
  }
  .area-quadros .quarto::before {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: #003795;
  }
  
  @-moz-keyframes folding {
    0%, 10% {
      -moz-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -moz-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -moz-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes folding {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  @keyframes folding {
    0%, 10% {
      -moz-transform: perspective(140px) rotateX(-180deg);
      -ms-transform: perspective(140px) rotateX(-180deg);
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -moz-transform: perspective(140px) rotateX(0deg);
      -ms-transform: perspective(140px) rotateX(0deg);
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -moz-transform: perspective(140px) rotateY(180deg);
      -ms-transform: perspective(140px) rotateY(180deg);
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  .corpo-carregamento {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
    color:#01286B;
  }


 
  
/* FIM DO CARREGAMENTO*/