<button #myClickFullscreen style="display: none;"></button>
<mat-sidenav-container
  attr.data-environment="{{ environment }}" [class.environment]="!showEnvironment" *ngIf="(showShell | async)"
  [hasBackdrop]="(!(leftnav$ | async).pinned && (leftnav$ | async).opened) || (!(rightnav$ | async).pinned && (rightnav$ | async).opened)"
  (backdropClick)="navsClose();"
  [class.is-fixed]="(isFixed$ | async)"
  [class.is-mobileAction]="(isMobile$ | async)"
  [class.is-rightPinned]="(rightnav$ | async).pinned" [class.is-leftPinned]="(leftnav$ | async).pinned"
  [class.is-favorite]="(possuiRecursoDeFavoritos) && (favorites$ | async).length > 0">
  <mat-sidenav class="uikit-nav" #sidenav position="start" disableClose="true"
               *ngIf="(hiddenShell | async)"
               [mode]="(leftnav$ | async).pinned ? 'side' : 'over'" [opened]="(leftnav$ | async).opened"
               (keydown.escape)="leftNavClose()" [fixedInViewport]="true">
    <uikit-nav>
      <div nav-menu>
        <ng-content select="[uikit-menu]"></ng-content>
        <ng-content select="[layout-nav-menu-extras]"></ng-content>
      </div>
    </uikit-nav>
  </mat-sidenav>

  <mat-sidenav *ngIf="showIa"
               #aikitSideNav class="aikit-nav" disableClose="true" position="end"
               [opened]="(rightnav$ | async).opened"
               [mode]="(rightnav$ | async).pinned ? 'side' : 'over'"
               (keydown.escape)="rightNavClose()" [fixedInViewport]="false">

    <uikit-ia></uikit-ia>

  </mat-sidenav>
  <mat-sidenav-content cdkScrollable [ngClass]="{
  'noshell': !(hiddenShell | async),
  'noshellnobreadcrumb': !(hiddenBreadcrumb | async)
  }">
    <uikit-header [showNotifications]="showNotifications"
                  [showSystemInfo]="showSystemInfo"
                  [showUserInfo]="showUserInfo" [showIa]="showIa" [showShortcuts]="showShortcuts">

      <div header-notifications>
        <ng-container *ngTemplateOutlet="notificacoes"></ng-container>
      </div>

      <div header-systeminfo>
        <ng-content select="[layout-header-systeminfo]"></ng-content>

        <mat-action-list *ngIf="(hasInstallOption$ | async) || (hasUpdate$ | async)">
          <!-- <mat-divider></mat-divider>-->
          <a mat-list-item (click)="install()" *ngIf="(hasInstallOption$ | async)">Instalar sistema</a>
          <a mat-list-item (click)="update()" *ngIf="(hasUpdate$ | async)">Atualizar versão</a>
        </mat-action-list>
      </div>

      <div header-userinfo>

        <ng-content select="[layout-header-userinfo]"></ng-content>

      </div>

    </uikit-header>
    <uikit-breadcrumb *ngIf="(hiddenBreadcrumb | async)"></uikit-breadcrumb>

    <div [hidden]="!(hasActions$ | async)">
      <button class="nav-mobile is-mobile" mat-fab (click)="toggleMobile()">
        <mat-icon class="fas fa-ellipsis-h" [class.fa-times]="(isMobile$ | async)"></mat-icon>
      </button>
    </div>

    <ng-container *ngTemplateOutlet="projecao"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template *ngIf="(showShell | async)">
  <ng-container *ngTemplateOutlet="projecao"></ng-container>
</ng-template>

<ng-template #projecao>
  <div style="height: 100%" [ngClass]="{'noshell' : !(showShell | async),
                   'noshellnobreadcrumb': !(hiddenBreadcrumb | async)}">
    <ng-content></ng-content>
  </div>
</ng-template>

<div hidden>
  <ng-content select="[layout-nav-menu]"></ng-content>
</div>
<div hidden>
  <ng-content select="[layout-header-notifications]"></ng-content>
</div>

<ng-template #notificacoes>
  <ng-container *ngFor="let notificacao of (notificacoes$ | async)">
    <uikit-notificacao [nome]="notificacao.nome" [icone]="notificacao.icone" [descricao]="notificacao.descricao"
                       [data]="notificacao.data" [read]="notificacao.read"></uikit-notificacao>
  </ng-container>
</ng-template>

