<mat-expansion-panel [expanded]="(operations$ | async).length == 1">

  <mat-expansion-panel-header *ngIf="(operations$ | async).length > 1">
    <mat-panel-title>
      <div *ngIf="(isLoading$ | async); else notLoading">
        Processando {{ (operations$ | async).length }} operações...
      </div>
      <ng-template #notLoading>
        Finalizado
      </ng-template>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-list>
    <mat-list-item *ngFor="let operation of (operations$ | async)" [@fadeInOut]>
      <h4 matLine>{{ operation.description }}</h4>

      <mat-progress-spinner
        *ngIf="
        (operation.operationState$ | async) === 'processing' ||
        (operation.operationState$ | async) === 'cancelling' ||
        (operation.operationState$ | async) === 'undoing'
        "
        [diameter]="20" mode="indeterminate" color="primary"></mat-progress-spinner>

      <div *ngIf="(operation.operationState$ | async) === 'processed'">Finalizado</div>
      <div *ngIf="(operation.operationState$ | async) === 'cancelling'">Cancelando</div>
      <div *ngIf="(operation.operationState$ | async) === 'cancelled'">Cancelado</div>
      <div *ngIf="(operation.operationState$ | async) === 'undoing'">Desfazendo</div>
      <div *ngIf="(operation.operationState$ | async) === 'undone'">Desfeito</div>
      <div *ngIf="(operation.operationState$ | async) === 'error'" matTooltip="{{ operation.error.message }}">Erro</div>

        <button *ngIf="operation.canUndo$ | async"
        (click)="operation.undo()" mat-icon-button><mat-icon class="fas fa-undo"></mat-icon></button>

        <button *ngIf="operation.canCancel$ | async"
        (click)="operation.cancel()" mat-icon-button><mat-icon class="fas fa-times-circle"></mat-icon></button>

    </mat-list-item>
  </mat-list>

</mat-expansion-panel>
