.operation-dialog {
  background: none;
  padding: 0px;
  min-height: auto !important;

  .mat-expansion-panel {

    .mat-expansion-panel-header {
      background: rgba(0,0,0,.9)!important;
      border-radius: 0;
      padding: 0px 15px;
      .mat-expansion-panel-header-title,
      .mat-expansion-indicator:after {
        color:#fff;
      }
    }
    .mat-expansion-panel-body {
      padding: 0px 15px !important;
      background: rgba(0, 0, 0, 0.85) !important;
      .mat-list {
        padding: 0 !important;
        .mat-list-item {
          min-height: initial !important;
          padding: 10px 0px !important;
          color: #fff !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
  .mat-list-item-content {
    padding: 0px !important;
  }
}
