<mat-toolbar>
  <button
    class="aikit-button"
    mat-flat-button
    type="button"
    aria-label="Abri menu de navegação"
    aria-controls="navigation"
    matTooltip="Abri menu de navegação"
    (click)="rightNavToggle()"
    tabindex="-1"
  >
    <mat-icon class="fas fa-times" aria-label="Fixar menu na tela"></mat-icon>
  </button>

  <button
    mat-icon-button
    color="primary"
    class="btn-attach-chat"
    (click)="togglePinRightNav()"
    [class.is-active]="(rightnav$ | async).opened"
    [class.is-pinned]="(rightnav$ | async).pinned"
    tabindex="-1"
  >
    <mat-icon
      class="fas fa-thumbtack"
      aria-label="Fixar menu na tela"
    ></mat-icon>
  </button>

  <img src="../../assets/images/iakit-logotipo-mobile.svg" class="is-mobile" />
  <img src="../../assets/images/iakit-logotipo.svg" class="is-desktop" />
</mat-toolbar>

<div class="chat">
  <div class="messages">
    <div class="message left">
      <picture> </picture>
      <div>Oi, meu nome é Judi, em que posso ajudar?</div>
    </div>

    <div class="message right">
      <picture>
        <mat-icon
          aria-label="Example icon-button with a heart icon"
          class="fas fa-user"
        ></mat-icon>
      </picture>
      <div>Mensagem do Usuário</div>
    </div>
  </div>
</div>

<div class="actions">
  <form>
    <mat-form-field color="primary" appearance="fill">
      <mat-label>Criar uma nova anotação</mat-label>
      <input matInput #message maxlength="256" placeholder="Message" cdkFocusInitial />
    </mat-form-field>
    <button mat-flat-button color="primary">ENVIAR</button>
  </form>
</div>
