<form [formGroup]="stateForm" [class.is-opened]="searchOpened" autocomplete="off" >
  <div search-container #searchContainer [attr.animating]="isAnimating ? '' : null"
    [attr.with-results]="hasResults ? '' : null">

    <button mat-icon-button class="btn-back" (click)="toggle(searchContainer)">
      <i class='fa fa-search icon-search' search-icon></i>
    </button>
    <input tabindex="3" matInput (keypress)="openToSearch($event,searchContainer)" #searchOpen="matInput"
      placeholder="Pesquisa (Ctrl + Alt + 3)" placeholder="{{placeholderText}}" formControlName="searchGroups"
      (keyup)="onKeyup($event)" (blur)="onBlur(searchContainer)" />
    <button mat-icon-button class="icon-sobre" #buttonClose="matButton" (click)="searchGroupOptions = []; toggle(searchContainer)">
      <i class='fa fa-times icon-search' search-icon></i>
    </button>

    <div resultados-container [ngStyle]='{ height: heightSize }'>
      <div *ngFor='let groupMenu of searchGroupOptions' [attr.header]='groupMenu.isHeader && !groupMenu.isAviso'>
        <div group-header *ngIf='!groupMenu.isAviso'>
          <span>{{groupMenu.title}}</span>
        </div>
        <ng-template [ngTemplateOutlet]="conteudoMenu" [ngTemplateOutletContext]="{ $implicit: groupMenu }">
        </ng-template>

      </div>
    </div>
  </div>
</form>

<ng-template #conteudoMenu let-list>
  <ul name="listaMenus">
    <uikit-highlight #searchitem *ngFor='let item of list.items' [attr.header]='item.isHeader && !item.isAviso' [item]="item">
      <div class="search-item-title">
        <div group-header *ngIf='item.isHeader && !item.isAviso'>
          <span>
            <i class="first-letter" [attr.data-first]="item.title.substr(0, 1)" *ngIf='!item.icon'> </i>
            <i class='{{item.icon}}' *ngIf='item.icon'></i>
            {{item.title}}
          </span>
        </div>

        <a resultado (mouseover)="onMouseoverItem(searchitem)" (click)='goToAddHistoric(item, item);$event.preventDefault()' href='#'
          *ngIf='!item.isHeader && !item.isAviso'>
          <span innerHTML='{{item.title | highlight: itemPesquisado}}'></span>
        </a>

        <ul *ngIf="item.items?.length > 0">
          <ng-container *ngTemplateOutlet="conteudoMenu; context:{ $implicit: item }"></ng-container>
        </ul>

        <div aviso *ngIf='item.isAviso'>
          {{item.title}}
        </div>
      </div>
    </uikit-highlight>
  </ul>
</ng-template>

<div hidden>
  <ng-content select="[search]"></ng-content>
</div>
