/*
 * Colors
 */

 $color-white: #fff;

 $color-black: #000;
 $color-black-light: lighten($color-black, 50%);

 $color-blue: #004BCB;
 $color-blue-dark: #fff;

 $color-blue-hight: #003795;
 $color-blue-hight-dark: darken($color-blue-hight, 5%);

 $color-orange: #ffa751;
 $color-orange-light: lighten($color-orange, 10%);
 $color-orange-dark: darken($color-orange, 15%);

 $color-blue-hight: #003795;
 $color-blue-hight: #003795;
 $color-blue-hight: darken($color-blue-hight, 5%);
 $color-blue-hight: #003795;
 $color-blue-hight: #003795;
 $color-blue-hight: darken($color-blue-hight, 5%);

 $font-size-xs: 13px;
 $font-size-md: 15px;
 $font-family: "Roboto";
 $font-weight: normal;
 $font-color: darken($color-black-light, 15%);

 @mixin apply-placeholder($color) {
   &::-webkit-input-placeholder {
     color: $color-blue;
   }
   &:-moz-placeholder {
     color: $color-blue;
   }
   &::-moz-placeholder {
     color: $color-blue;
   }
   &:-ms-input-placeholder {
     color: $color-blue;
   }
 }

 @media screen and (max-width: 970px) {



  .btn-back {
    right: 0px !important;
    top:5px;
   }

   [search-container] {

     position:relative !important;
     transition: all 0.1s ease-in-out !important;
     right: 0px !important;

     [search-container] {
       width:40px;
     }
     i[search-icon] {
      transition: ease-in-out .1s, all;
      width: 40px;
      height: 40px;
      line-height: 40px;
      top: 0px;
      right: 0px;
      z-index: 2;
      font-size: $font-size-md;
      color: $color-blue;
      text-align: center;
    }


     & input {
       min-width:300px !important;
       max-width:970px !important;
       width:100% !important;
       color:$color-blue;
       position:fixed;
       top:0;
     }

     &:not([opened]) {
       & input {
         margin-top: -100% !important;
       }

       & i {
         border-left: 0px !important;
       }
     }

     &[opened] {
       right: 0px !important;
       /*top: 58px;*/

       & input {
        min-width:300px !important;
        max-width:970px !important;
        width:100% !important;
        border-radius:0 !important;
        height:63px !important;
        left:0;
        right:0;
        position:fixed;
        background:#F5F5F5;
        border-bottom:1px solid #dce4ec;
        top:0;
       }
       i[search-icon] {

       }


      [resultados-container] {
        & {
          left:0;
          margin-left:0px !important;
          width:100% !important;
          min-width: 300px !important;
        }
      }
      .fa-search {
        display:none;
      }
      .icon-sobre {
        right:20px;
        position:fixed;
        color:$color-blue;
      }
     }
   }
 }

 [search-container] {
   & {
     display: block;
     border-radius: 0px;
     z-index: 1099;
     -webkit-user-select: none;
     right: 170px;
     top: 0px;
   }

   input {
     @include apply-placeholder($color-blue);

     & {
       font-size: $font-size-xs;
       color: $color-blue;
       padding: 0;
       background:#ecf2fe;
       padding: 0 10px 0 40px;
       border-radius:5px;
       box-sizing: border-box;
       height: 36px;
       line-height: 34px;
       font-weight: 400;
       outline: none;
       border: none;
       border-bottom: 2px solid $color-blue;
       width: 250px;
       margin-bottom: 3px;
       height: 45px;

       transition: ease-in-out .1s, all, linear .15s;
     }

   }

   i[search-icon] {
     transition: ease-in-out .1s, all;
     width: 40px;
     height: 40px;
     line-height: 40px;
     right:0px;
     position: absolute;
     top: 0px;
     z-index: 2;
     font-size: $font-size-md;
     color: $color-blue;
     text-align: center;
   }
   .btn-back {
    right: -40px;
    top:5px;
   }


   button[clear-button] {
     & {
       @extend .btn-primary;
       top: 7px;
       height: 56px;
       width: 39px;
       line-height: 54px;
       color: #FFF;
       position: absolute;
       right: 0;
       z-index: 3;
       border: none;
       visibility: hidden;
       background: transparent !important;

       &:hover {
         box-shadow: inset 0 -56px 0px #003795;
       }
     }

     i {
       font-size: $font-size-md;
       font-weight: 100;
     }
   }

   [resultados-container] {
     & {
       visibility: hidden;
       display: none;
       height: 0;
       position: fixed;
       padding-bottom: 0px;
     }
   }

   ul, div {
     & {
       padding: 0px 10px 1px 10px;
       margin: 0;
       list-style: none;
     }

     li, div {

       & {
         line-height: 1;
       }

       &[header] + div::before {
         height: 15px !important;
         top: 0;
       }

       &[header] + li::before {
         height: 15px !important;
         top: 0;
       }

       i {
         color: #aaa;
         margin-left: -4px;
       }

       a[resultado] {
         padding-left: 22px;
         padding-right: 22px;
         display: block;
         text-decoration: none;
       }

       &:not([header]) {

         a {
           display: block;
         }

         &::before {
           clear: both;
           content: '';
           border-left: 1px dotted #788896;
           border-bottom: 1px dotted #788896;
           display: block;
           float: left;
           margin: 0px 5px 0px 5px;
           height: 25px;
           width: 15px;
           position: relative;
           top: -11px;
         }

         &:first-child::before {
           height: 15px !important;
           top: 0;
         }

         span {
           display: block;
           text-decoration: none;
           line-height: 24px;
           color: $color-blue-dark;
           outline: none;
           font-size: 14px !important;
           cursor: pointer;
           -ms-user-select: none;
           -moz-user-select: none;
           -webkit-user-select: none;
           font-weight: normal;
           padding: 0px 10px 0px 1px;
           transition: ease-in-out all .1s;

           strong {
             font-size: 14px !important;
             text-decoration: underline;
             font-weight: 400 !important;
           }
         }
       }

       &[header] {

         & {
           margin-top: 8px;
         }

         & > [group-header] {
           padding-left: 1px;
           padding-bottom: 1px;
         }

         > [group-header] {

           span {
             list-style-type: none;
             outline: none;
             padding: 0px;
             font-size: $font-size-xs;
             text-transform: uppercase;
             cursor: pointer;
             outline: none;
             -ms-user-select: none;
             -moz-user-select: none;
             -webkit-user-select: none;
             font-weight: 500;
             font-size: $font-size-xs !important;
             padding-left: 10px !important;
             color: rgba($color-blue-dark, .5);
             margin-top: -4px;
           }

           span.zmdi {
             position: relative;
             left: -3px;
           }

           .first-letter {
             color: rgba($color-black-light, .5);
             width: 23px;
             height: 23px;
             padding-top: 7px;
             display: block;
             text-align: center;
             float: left;
             transition: linear .1s, all;
             z-index: 2;
             position: relative;
             font-style: normal;
             font-weight: bold;
             margin-left: -14px;
             font-size: $font-size-xs;
             background: $color-blue-hight;

             &:before {
               content: attr(data-first);
               position: absolute;
               margin-left: -5px;
               margin-top: -3px;
             }
           }
         }
       }

       [aviso] {
         font-size: 14px !important;
         padding: 7px 0;
       }
     }
   }

   &[opened] {

     margin-top:0px;

     button[clear-button] {
       & {
         top: 2px !important;
         visibility: visible;
       }

       i {
         color: $color-blue-hight;
       }
     }

     [resultados-container] {
       & {
         background: #FFF;
         border-right:1px solid #dce4ec;
         border-left:1px solid #dce4ec;
         border-bottom:1px solid #dce4ec;
         margin-top:5px;
         margin-left:40px;
         min-width: 600px;
         visibility: visible;
         display: block;
         overflow: auto;
         height: auto;
         max-height: calc(100vh - 250px);
       }
     }

     input {
       color: $color-blue;
       @include apply-placeholder($color-blue);
       padding:15px 15px 15px 40px;
       width: 600px;
       height: 45px;
       line-height: 34px;
       top: 0;
       margin-top: 0px;
       margin-bottom:3px;

     }

     i.icon-search {

       top: -15px;
       height: 67px;
       line-height: 70px;
       color: #007bff;

       &:hover {
         background: transparent;
       }
     }
     .icon-sobre {
       margin-left:-40px;
     }
   }
 }

 @media all and (max-width: 1024px) {

   .is-horizontal-menu {

     & {

       [search-container] {

         margin-left: 6px;
         right: 10px !important;

         i {
           border: none !important;
           width: 30px !important;
           font-size: 13px !important;
         }

         input {
           padding-right: 21px;
           border: none;
           background:#ecf2fe;
           width: 30px;
           height: 30px;
           text-align: center;
           border-radius: 20px;
           position: relative;
           vertical-align: middle;
           line-height: 30px;
           padding: 0;
           padding-right: 30px;
           margin: 0;
           margin-top: 3px;
           cursor: pointer;
         }

         &[opened] {

           width: auto;

           button[clear-button] {
             & {
               width: 29px;
               padding: 0;
             }

             i {
               top: -2px !important;
               position: relative;
               right: 1px;
             }
           }

           input {
             width: 600px !important;
             border-radius: 0;
             text-align: left;
             padding-left: 15px;
             padding-right: 35px;
             color: $color-blue;
             @include apply-placeholder($color-black-light);
             cursor: auto !important;
           }
         }
       }
     }
   }
 }

 .btn-primary {
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
 }

 .btn-primary:hover {
   color: #fff;
   background-color: #0069d9;
   border-color: #0062cc;
 }

 .btn-primary:focus, .btn-primary.focus {
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
 }

 .btn-primary.disabled, .btn-primary:disabled {
   background-color: #007bff;
   border-color: #007bff;
 }

 .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle {
   color: #fff;
   background-color: #0062cc;
   border-color: #005cbf;
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
 }


