<div class="breadcrumb"
     [ngClass]="{'noshell': !(hiddenShell$ | async)}"
     *ngIf="(data$ | async) != null && (data$ | async).title != null">

  <button [disabled]="desabilitarBotaoVoltar$ | async" type="button" mat-icon-button color=""  (click)="goBack()">
    <mat-icon class="fas fa-chevron-left"></mat-icon>
  </button>

  <button tabindex="0" *ngIf="possuiRecursoDeFavoritos; else naoPossuiRecursoDeFavoritos" mat-icon-button
    [class.btn-favorite]="possuiRecursoDeFavoritos" [class.active]="isFavorited$ | async"
    (click)="toggleFavoritos()">
    <mat-icon class="fa-lg {{ (data$ | async)?.icon }}"></mat-icon>
  </button>

  <ng-template #naoPossuiRecursoDeFavoritos>
    <button tabindex="-1"  mat-icon-button class="btn-favorite" [class.btn-favorite]="possuiRecursoDeFavoritos"
      [class.active]="isFavorited$ | async">
      <mat-icon class="fa-lg {{ (data$ | async)?.icon }}"></mat-icon>
    </button>
  </ng-template>

  <breadcrumb #parent>
    <ng-container
     *ngFor="let route of (parent.breadcrumbs$ | async)">
      <a mat-button *ngIf="!route.terminal" tabindex="1" href="" [routerLink]="[route.link]">{{ route.title }}</a>
      <a mat-button *ngIf="route.terminal">{{ route.title }}</a>
    </ng-container>
  </breadcrumb>

</div>
