@import '_color.scss';

body .fc .fc-button.fc-button-active {
  background-color: $azul-principal;
  color:$white;
}
body .fc .fc-button {
  background-color:$white;
  color:$azul-principal;
}
body .fc .fc-button:enabled:not(:focus):not(.fc-button-active):hover {
  background-color:$white;
  color:$azul-principal;
}
body .fc .fc-event {
  background-color: $azul-principal;
  border: 1px solid $azul-principal;
}
body .fc .fc-head .fc-row {
  background-color: transparent;
  padding:0px;
  color:$color;
  border:0;
}
body .fc .fc-head th {
  border-color: $calendar-border !important;
}

.dark {
  .fc .fc-head th {
    color:$white;
  }
  .fc .fc-event {
    background-color:$dark-secondary;
    border-color:$dark-secondary;
    color:$white;
  }
  .fc .fc-button.fc-button-active {
    background-color:$dark-secondary;
    color:$white;
    &:hover {
      background-color:$dark-secondary;
      color:$white;
    }
  }
  .fc .fc-button.fc-button-active:focus {
    background-color:$white;
    color:$dark-secondary;
    &:hover {
      background-color:$white;
      color:$dark-secondary;
    }
  }
  .fc td.fc-today {
    background-color:$dark-secondary;
  }
  .fc-button-group>.fc-button {
    background-color:$white;
    color:$dark-secondary;
    &:hover {
      background-color:$white;
      color:$dark-secondary;
    }
  }

  .fc .fc-button {
    background-color:$white;
    color:$dark-secondary;
    &:hover {
      background-color:$dark-secondary;
      color:$white;
    }
  }
}
