//Base de cores em sobreposição no PrimeNG
$azul-principal: #004BCB;
$azul-secondary:#005cf2;
$verde-principal: #06e459;
$verde:#4CAF50;
$black:#000000;
$verde-color: #024f1f;
$dark-primary: #424242;
$dark-secondary: #212121;
$dark-border: #333;
$dark-line: #353535;
$calendar-border:#bdbdbd;
$white: #fff;
$color:rgba(0, 0, 0, 0.87);
$table-color:rgba(0,0,0,.54);
$table-color-active:#757575;
$table-hover:#E8E8E8;
$dark-hover:#2b2a2a;
$dark-grey:#ccc;
$error:#e62a10;
$table-border:rgba(0, 0, 0, 0.12);
