@import '_color.scss';

//Início do datatable
.pi-sort:before {
  content:"arrow_downward" !important;
  color:$table-color;
  background-color:transparent !important;
}
.pi-sort:hover:before{
  content:"arrow_downward" !important;
  color:$table-color !important;
}
.pi.pi-sort{
  font-size: 1.0em;
}
.pi.pi-sort-down:before {
  content:"arrow_downward" !important;
}
.pi.pi-sort-up:before {
  content:"arrow_upward" !important;
}
body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  margin:-5px 0px 0px 0px;
  font-size: 1.0em;
}
.pi-caret-left:before {
  content:"\e931";
}
.pi-caret-right:before {
  content:"\e932";
}
.pi-step-backward:before{
  content:"\e92d";
}
.pi-step-forward:before {
  content:"\e92e";
}
.pi-sort-up:before{
  // content:"\e99a"; de 0 a 9
  content:"\e919"; // de A a Z
  font-size: 14px;
  color:$table-color;
}
.pi-sort-down:before{
  // content:""\e99b""; de 9 a 1
  content:"\e91c"; // de A a Z
  font-size: 14px;
  color:$table-color;
}
.ui-table-wrapper {
  table {
    margin-top: 50px;
  }
}

.ui-table-thead {
  border:0;
  margin-top: 50px;
}
body .ui-picklist li.ui-picklist-item.ui-state-highlight {
  background-color:$table-hover;
}
body .ui-orderlist .ui-orderlist-list li.ui-orderlist-item.ui-state-highlight {
  background-color:$table-hover;
}
body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight {
  background-color:$table-hover;
}

.fc-button-group>.fc-button.fc-button-active, .fc-button-group>.fc-button:active, .fc-button-group>.fc-button:checked, .fc-button-group>.fc-button:focus, .fc-button-group>.fc-button:hover {
  color:$white;
  background-color: $azul-secondary;
}
.fc-button-primary:not(:disabled).fc-button-active:focus, .fc-button-primary:not(:disabled):active:focus {
  color:$white;
  background-color: $azul-secondary;
}

.fc-button-primary.fc-button-active:focus, .fc-button-primary:active:focus {
  color:$white;
  background-color: $azul-secondary;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  background-color:transparent !important;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight) {
  text-decoration:none;
  &:hover {
    color:$table-color;
  }
}
body .ui-table .ui-sortable-column.ui-state-highlight {
  color:$table-color;
  text-decoration: none;
}
.ui-table {
  position: relative;
  padding:0px 15px 0px 15px;
  color:$table-color;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background: #fff;
}
.ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.ui-table .ui-table-tbody>tr>td,
.ui-table .ui-table-tfoot>tr>td,
.ui-table .ui-table-thead>tr>th {
  padding: .25em .5em
}

.ui-table .ui-sortable-column {
  cursor: pointer
}

.ui-table p-sorticon {
  vertical-align: middle;
}

body .ui-table .ui-table-thead > tr > th {
  border:none;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  color:$table-color;
  word-break: break-all;
  text-decoration: none;
}
body .ui-table .ui-table-thead > tr > th:hover {
  color:$table-color;
  background-color:transparent !important;
}
body .ui-table .ui-table-thead > tr > th:first-child {
  border-left:none;
}
body .ui-table .ui-table-thead > tr > th:last-child {
  border-right:none;
}
.ui-table .ui-table-thead>tr>th {
  padding: .25em .5em;
  background: transparent !important;
  font:inherit;
}
.ui-table-tbody {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
body .ui-table .ui-table-tbody > tr{
  border:1px solid $table-border;
  background-color: $white;
  height: 48px;
}
body .ui-table .ui-table-tbody > tr:hover {
    background-color: $white !important;
}
body .ui-table .ui-table-tbody > tr > td {
  border:0px;
  font-size: 14px;
  color:rgba(0,0,0,.87);
}

.ui-table-auto-layout>.ui-table-wrapper {
  overflow-x: auto
}

.ui-table-auto-layout>.ui-table-wrapper>table {
  table-layout: auto
}

.ui-table-caption,
.ui-table-summary {
  padding: .25em .5em;
  text-align: center;
  font-weight: 700;
}

.ui-table-caption {
  border-bottom: 0
}

.ui-table-summary {
  border-top: 0
}


.ui-table-scrollable-wrapper {
  position: relative
}

.ui-table-scrollable-footer,
.ui-table-scrollable-header {
  overflow: hidden;
  border: 0
}

.ui-table-scrollable-body {
  overflow: auto;
  position: relative
}

.ui-table-virtual-table {
  position: absolute
}

.ui-table-loading-virtual-table {
  display: none
}

.ui-table-frozen-view .ui-table-scrollable-body {
  overflow: hidden
}

.ui-table-frozen-view>.ui-table-scrollable-body>table>.ui-table-tbody>tr>td:last-child {
  border-right: 0
}

.ui-table-unfrozen-view {
  position: absolute;
  top: 0
}

.ui-table-resizable>.ui-table-wrapper {
  overflow-x: auto
}

.ui-table-resizable .ui-table-tbody>tr>td,
.ui-table-resizable .ui-table-tfoot>tr>td,
.ui-table-resizable .ui-table-thead>tr>th {
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.ui-table-resizable .ui-resizable-column {
  background-clip: padding-box;
  position: relative
}

.ui-table-resizable-fit .ui-resizable-column:last-child .ui-column-resizer {
  display: none
}

.ui-table .ui-column-resizer {
  display: block;
  position: absolute!important;
  top: 0;
  right: 0;
  margin: 0;
  width: .5em;
  height: 100%;
  padding: 0;
  cursor: col-resize;
  border: 1px solid transparent
}

.ui-table .ui-column-resizer-helper {
  width: 1px;
  position: absolute;
  z-index: 10;
  display: none
}

.ui-table .ui-table-tbody>tr>td.ui-editing-cell {
  padding: 0
}

.ui-table .ui-table-tbody>tr>td.ui-editing-cell p-celleditor>* {
  width: 100%
}

.ui-table-reorder-indicator-down,
.ui-table-reorder-indicator-up {
  position: absolute;
  display: none
}

.ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
  display: none
}

@media screen and (max-width:40em) {
  .ui-table-responsive .ui-table-tfoot>tr>td,
  .ui-table-responsive .ui-table-thead>tr>th {
    display: none!important
  }
  .ui-table-responsive .ui-table-tbody>tr>td {
    text-align: left;
    display: block;
    border: 0;
    width: 100%!important;
    box-sizing: border-box;
    float: left;
    clear: left
  }
  .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
    font-weight: 700
  }
}

.ui-table-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-filter: "alpha(opacity=10)";
  opacity: .1;
  z-index: 1
}

.ui-table-loading-content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-top: -1em;
  margin-left: -1em
}

.ui-table .ui-table-loading-icon {
  font-size: 2em
}

//Fim do datatable




//Inicio do dataview

body .ui-selectbutton .ui-button.ui-state-active{
  background-color: #004BCB !important;
  text-decoration: none !important;
}

.ui-dataview {
  position: relative;
  padding:0px 15px 15px 15px !important;
}


.ui-dataview .ui-paginator {
  text-align: center;
  order: 1;
  background: $app-bar-color;
  border-radius: 20px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  .mat-paginator-range-label {
    margin: 0;
    order: 2;
    font-size: $font-size-caption;
  }
  .mat-paginator-navigation-previous {
    order: 1;
  }
  .mat-paginator-navigation-next {
    order: 3;
  }
}

.ui-dataview-column {
  padding: .25em
}

.ui-dataview-content-empty {
  padding: .25em .625em
}

.ui-dataview .ui-dataview-footer,
.ui-dataview .ui-dataview-header {
  padding: .5em .75em
}

.ui-dataview .ui-dataview-header {
  border-bottom: 0
}

.ui-dataview .ui-dataview-footer {
  border-top: 0
}

.ui-dataview .ui-paginator-top {
  border-bottom: 0
}

.ui-dataview .ui-paginator-bottom {
  border-top: 0
}

.ui-dataview.ui-dataview-list>.ui-dataview-content>div.ui-g>div {
  width: 100%
}

.ui-dataview .ui-dataview-emptymessage {
  padding: .5em .75em
}

.ui-dataview-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-filter: "alpha(opacity=10)";
  opacity: .1;
  z-index: 1
}

.ui-dataview-loading-content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-top: -1em;
  margin-left: -1em
}

.ui-dataview-loading-icon {
  font-size: 2em
}
// Fim do dataview



// inicio da paginação

body .ui-table .ui-table-thead > tr > th.ui-state-highlight {
  color:$table-color-active;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: $white;
  &:hover {
    background-color: $white;
  }
}
body .ui-table .ui-table-tbody > tr {
  color:$table-color;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: $white;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: $white;
  &:hover {
    background-color: $white;
  }
}
// fim da paginação



.dark {
  .pi-sort:before {
    color:$white;
  }
  .pi-sort:hover:before{
    color:$white;
  }
  .pi.pi-sort{
    color:$white;
  }
  .pi.pi-sort-down:before {
    color:$white;
  }
  .pi.pi-sort-up:before {
    color:$white;
  }

  .pi-caret-left:before {
    color:$white;
  }
  .pi-caret-right:before {
    color:$white;
  }
  .pi-step-backward:before{
    color:$white;
  }
  .pi-step-forward:before {
    color:$white;
  }
  .pi-sort-up:before{
    color:$white;
  }
  .pi-sort-down:before{
    color:$white;
  }
  body .ui-paginator .ui-paginator-current,
  .ui-paginator .ui-paginator-first,
  .ui-paginator .ui-paginator-last,
  .ui-paginator .ui-paginator-next,
  .ui-paginator .ui-paginator-page,
  .ui-paginator .ui-paginator-pages,
  .ui-paginator .ui-paginator-prev {
    color:$table-color-active;
  }
  body .ui-paginator a.ui-state-disabled {
    color:$table-color;
  }
  body .ui-paginator a {
     color:$white;
  }

  .ui-table .ui-table-thead > tr > th.ui-state-highlight {
    color:$white !important;
  }
  body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: $white !important;
    &:hover {
      background-color: $white !important;
    }
  }
  .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item > .ui-button {
    background-color: transparent !important;
  }
  .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight {
    background-color: transparent;
  }
  ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
    background-color: $dark-secondary !important;
  }
  .ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node {
    border:1px solid $white !important;
  }
  .ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler .pi-chevron-down {
    color:$white !important;
  }
  .ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover {
    color:$white !important;
  }
  .ui-treetable .ui-treetable-thead > tr > th {
    color:$white !important;
    background-color: $dark-secondary !important;
    border:1px solid $dark-hover;
  }
  .ui-treetable .ui-treetable-tbody > tr > td {
    color:$white !important;
    background-color: $dark-secondary !important;
    background: $dark-secondary !important;
    border:1px solid $dark-hover;
  }
  .ui-treetable .ui-treetable-thead > tr > th:first-child {
    border-left:1px solid $dark-hover;
  }
  .ui-treetable .ui-treetable-thead > tr > th:last-child {
    border-right:1px solid $dark-hover;
  }
  .ui-treetable .ui-treetable-thead > tr {
    color: $white !important;
    background-color: $dark-secondary !important;
    background: $dark-secondary !important;
  }
  .ui-table .ui-table-tbody > tr > td {
    color:$white !important;
    &:hover {
      color:$white !important;
      background-color: $dark-secondary !important;
    }
  }
  .ui-tree.ui-tree-horizontal .ui-treenode-content .ui-treenode-icon {
    color:$dark-grey !important;
  }
  .ui-tree .ui-treenode-label {
    color:$dark-grey !important;
  }
  .ui-table .ui-table-tbody > tr {
    color:$white !important;
    background-color: $dark-secondary;
    border:1px solid #000;
    &:hover {
      color:$white !important;
      background-color: $dark-secondary !important;
    }
  }
  .ui-state-highlight {
    color:$white !important;
    background-color: $dark-secondary;
  }
  .ui-orderlist .ui-orderlist-list li.ui-orderlist-item:not(.ui-state-highlight):hover {
    background-color: $dark-hover !important;
    color:$white !important;
  }
  .ui-picklist li.ui-picklist-item.ui-state-highlight:hover {
    background-color: $dark-hover !important;
    color:$white !important;
  }
  .ui-picklist li.ui-picklist-item.ui-state-highlight {
    background-color: $dark-hover !important;
    color:$white !important;
  }
  .ui-picklist li.ui-picklist-item {
    background-color: $dark-primary !important;
    color:$white !important;
  }

  .ui-orderlist .ui-orderlist-list li.ui-orderlist-item:not(.ui-state-highlight) {
    background-color: $dark-hover !important;
    color:$white !important;
  }
  .ui-orderlist .ui-orderlist-list li.ui-orderlist-item {
    color:$white !important;
    background-color: $dark-primary !important;
  }
  .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: $dark-secondary !important;
    color:$white !important;
  }
  .ui-table .ui-table-thead > tr > th {
    color:$white !important;
  }
  .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    color:$white !important;
    background-color: $dark-secondary !important;
  }
  .ui-table .ui-table-tbody > tr:nth-child(even) {
    color:$white !important;
    background-color: $dark-secondary !important;
    &:hover {
      color:$white !important;
      background-color: $dark-secondary !important;
    }
  }
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    color:$white !important;
  }
  .ui-paginator {
    background:$dark-secondary !important;
    border-color:$dark-secondary !important;;
  }
}
