@import '_color.scss';

.ui-dialog-mask {
  display: none;
}
uikit-simple-dialog {
  .mat-button-wrapper {
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.57);
  }
  .mat-dialog-actions[align=end] {
    justify-content: space-around;
  }
}
.mat-dialog-actions {
  .mat-button {
    right:0;
  }
}
.mat-dialog-container {
  padding:25px !important;
  .close:hover {
    background: none!important;
  }
}

body .ui-overlaypanel .ui-overlaypanel-close {
  background-color: $azul-principal;
  &:hover {
    background-color: $azul-principal;
  }
}

.dark {
  .ui-overlaypanel .ui-overlaypanel-close {
    background-color: $dark-secondary;
    &:hover {
      background-color: $dark-secondary;
    }
  }
  .ui-dialog {
    .ui-dialog-titlebar {
      .ui-dialog-title {
        color: #fff !important;
      }
      .ui-dialog-titlebar-icon {
        .pi:before {
          color:#fff;
        }
      }
      .ui-dialog-titlebar-icon:hover {
          background:transparent !important;
      }
    }
    .pi.pi-times:before {
      color:#212121;
    }
  }
}
