@import '_color.scss';

.forms {
  .ui-inputgroup {
    background-color: transparent;
  }

  .ui-inputgroup input {
    background-color: transparent;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    padding-bottom: 0 !important;
    padding: 1em .75em 1em .75em !important;
  }

  .calendar input {
    background-color: transparent;
  }

  .calendar {
    background-color: transparent;
  }

  .ui-calendar {
    background-color: transparent;
  }
  .ui-calendar input {
    background-color: transparent;
  }

  .ui-dropdown {
    background-color: transparent;
  }
  .ui-dropdown input {
    background-color: transparent;
  }

}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container.ui-inputtext {
  padding: .7em .75em .7em .75em;
}
.ui-fluid .ui-spinner .ui-spinner-button {
  margin:5px;
}
body .md-inputfield.md-inputfield-fill label {
  top:0;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid $dark-grey;
}
body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  background-color: $white;
  &:hover {
    background-color: $white;
  }
}

body .ui-button .pi {
  top:17px;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
  bottom: 10px;
}

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
  top:20px;
}
body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only .pi {
  top:9px;
}
body .ui-calendar .ui-datepicker-trigger .pi  {
  top:12px;
}
.ui-button-icon-only .pi  {
  top:9px;
}
body .ui-multiselect {
  border: 1px solid #bdbdbd;
  padding: 1em .75em 1em .75em;
  border-radius: 5px;
}
body .ui-progressbar .ui-progressbar-value {
  background-color: $azul-secondary;
}
body .ui-inputgroup .ui-inputgroup-addon {
  border-bottom:0 !important;
  margin-top: 15px;
}
body .ui-togglebutton.ui-state-active {
  background-color: $verde;
  color:$white;
}
body .ui-dropdown {
  background-image: none;
}
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus .ui-dropdown-label {
  padding: 1em .75em 1em .75em;
}
body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-inputtext {
  color:$dark-primary;
}
body .ui-dropdown-panel .ui-dropdown-filter-container {
  border-bottom: 1px solid #bdbdbd;
  background-color: #004BCB;
}
body .ui-dropdown-panel .ui-dropdown-filter-container .pi {
  top: 0;
  right: .75em;
  padding: 1em;
  color: #000;
}
body .ui-dropdown-panel .ui-dropdown-filter-container input {
  color: #000;
}
body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .pi {
  color:$dark-primary;
  padding: 3px 3px 3px 0px;
}
body .ui-datepicker .ui-datepicker-header {
  background: $azul-principal;
  border-color: $azul-principal;
}
body .ui-datepicker thead tr {
  background:$azul-secondary;
}
body .ui-datepicker tbody td a.ui-state-active {
  background-color: $azul-principal;
  color:$white;
}
body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active{
  background-color: $azul-principal;
  color:$white;
}
body .ui-datepicker tbody td.ui-datepicker-today a {
  border-color: $azul-principal;
}
body .ui-autocomplete-panel .ui-autocomplete-list .ui-autocomplete-list-item.ui-state-highlight {
  color:$white;
}
.pi.pi-times:before{
  color:$white;
}
body .ui-button {
  background-color: $azul-principal;
}
body .ui-button:enabled:focus, body .ui-datepicker-buttonpane > button:enabled:focus {
  background-color: $azul-principal;
}
body .ui-chkbox .ui-chkbox-box:before {
  background-color: $azul-principal;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  background-color: $azul-principal;
  border-color: $azul-principal;
}

body .md-inputfield input:focus {
  border-color: $azul-principal;
}
body .md-inputfield input:focus ~ label {
  color: $azul-principal;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: $azul-secondary;
}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: $azul-principal;
}
body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider {
  background-color: $azul-principal;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
  background-color: $azul-principal;
}
body .ui-radiobutton .ui-radiobutton-box:before {
  background-color: $azul-principal;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border-color: $azul-principal;
}
body .ui-radiobutton .ui-radiobutton-box .pi-circle-on {
  background-color: $azul-principal;
}
body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background-color: $azul-principal;
  color:$white;
}
body .ui-slider .ui-slider-range{
  background-color: $azul-secondary;
}
body .ui-slider .ui-slider-handle {
  background-color: $azul-principal;
}
body .ui-listbox .ui-listbox-header {
  background-color: $azul-principal;
  border-bottom: 1px solid #fff;
}
body .ui-state-active {
  background-color: $table-hover;
}
body .ui-state-highlight {
  background-color: $azul-principal;
  color:$white;
}
.ui-password-panel .ui-password-meter {
  width: 100%;
}

.ui-widget-header .ui-inputtext, .ui-widget-header .ui-inputtext:focus, .ui-widget-content .ui-inputtext, .ui-widget-content .ui-inputtext:focus {
  padding: 1em .75em 1em .75em;
  border: 1px solid $dark-grey;
  background: $white;
  border-radius:5px;
}
body .ui-fluid .ui-inputtext {
  padding: 1em .75em 1em .75em;
  border: 1px solid $dark-grey;
  background: $white;
  border-radius:5px;
}

body .ui-button:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button:enabled:not(:focus):hover{
  background-color: #004BCB;
  background: #004BCB;
}
.md-inputfield-box {
  background-color: transparent !important;
}
.md-inputfield-box input{
  width:100%;
  padding: 1em .75em 1em .75em;
  border: 1px solid $dark-grey;
  background: $white;
  border-radius:5px;
}
.md-inputfield-box input:focus {
  border-color: $azul-principal;
  border: 1px solid $azul-principal;
}
body .ui-inputgroup .md-inputfield label {
  padding:1em .75em 1em .75em;
  top:0px;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
body .md-inputfield > label {
  padding:1em .75em 1em .75em;
  top:0px;
}

body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label {
  top:-24px;
}
.ui-float-label>input:focus ~ label, .ui-float-label>input.ui-state-filled ~ label, .ui-float-label>.ui-inputwrapper-focus ~ label, .ui-float-label>.ui-inputwrapper-filled ~ label {
  top: 3px;
  padding: 0 .75em 0 .75em;
  margin-left: 4px;
  background: #fff;
}
.ui-float-label>label {
  margin-left: 1em;
}
body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label {
  top: -10px !important;
  font-size: 12px;
  padding: 0 .75em 0 .75em;
  color: #898989;
  background: #fff;
}


body .ui-inputtext {
  background-image: none;
}

body .ui-inputtext.ng-dirty.ng-invalid, body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, body p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, body p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, body p-chips.ng-dirty.ng-invalid > .ui-inputtext, body p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, body p-listbox.ng-dirty.ng-invalid .ui-inputtext, body p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, body p-spinner.ng-dirty.ng-invalid > .ui-inputtext, body p-selectbutton.ng-dirty.ng-invalid .ui-button, body p-togglebutton.ng-dirty.ng-invalid .ui-button {
  background-image: none;
  border-color: $error;
}

body .ui-inputtext.ng-dirty.ng-invalid {
  border:1px solid $error;
  border-radius:5px;
  padding:1em .75em 1em .75em;
}

body .ui-dropdown .ui-dropdown-label {
  //background:transparent !important;
  border:1px solid $dark-grey;
  border-radius:5px;
  padding:1em .75em 1em .75em;
}

.ui-dropdown .ui-dropdown-label {
  //background:transparent !important;
}

body .ng-invalid::placeholder {
  color:$error !important;
}

body .md-inputfield input.ng-dirty.ng-invalid ~ label {
  color:$error !important;
}

body .md-inputfield.md-inputfield-fill input {
  background-color: transparent;
  padding:1em .75em 1em .75em;
}

body .md-inputfield.md-inputfield-box input {
  background-color: transparent;
  padding:1em .75em 1em .75em;
}

body .md-inputfield.md-inputfield-box label {
  top:0;
}

body .md-inputfield.md-inputfield-box input:focus ~ label, body .md-inputfield.md-inputfield-box input.ui-state-filled ~ label, body .md-inputfield.md-inputfield-box .ui-inputwrapper-focus ~ label, body .md-inputfield.md-inputfield-box .ui-inputwrapper-filled ~ label {
  top:-19px;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container .pi {
  color:$dark-primary;
  padding:3px;
}
body .ui-multiselect-panel.ui-widget .ui-multiselect-header {
  height: 45px;
}

body .ui-dropdown .ui-dropdown-trigger .pi {
  margin-top: 0;
}

body .ui-calendar .ui-datepicker-trigger {
  top:9px !important;
}

body .ui-listbox .ui-listbox-item.ui-state-highlight {
  background-color: #004BCB;
  color: #fff;
}

.ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
  margin-top: .4em;
}

body .ui-multiselect {
  background: #fff;
}

body .ui-datepicker tbody td.ui-datepicker-today a.ui-state-active {
  background-color: #004BCB;
  color: #FFF;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
  color: #fff;
}

body .ui-chips > ul.ui-inputtext {
  padding: .7em .75em .7em .75em;
}
.ql-container.ql-snow {
  background: #fff;
}


body .ui-selectbutton .ui-button.ui-state-active {
  background-color:$white ;
  text-decoration: none;
  color: $azul-principal ;;
}
.dark .md-inputfield.md-inputfield-box input.ui-state-filled ~ label {
  background: #424242 !important;
}
*:focus {
  outline: 0 !important;
}
.ui-selectable-row {
  td {
    outline:none !important;
    button {
      border: 0 !important;
      outline:none !important;
      background: transparent !important;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
      &hover{
        border: 0 !important;
        outline:none !important;
        background: transparent !important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
      }
      &focus {
        outline:none !important;
        border: 0 !important;
      }
    }
  }
}
.dark body .md-inputfield.md-inputfield-box input:focus ~ label{
  background: #424242 !important;
}
.dark .md-inputfield.md-inputfield-box input:focus ~ label {
  background: #424242 !important;
}

.dark {

  .ui-selectable-row {
    td {
      button {
        color:#fff !important;
        padding: 0;
        margin-right: 16px;
      }
    }
  }
  .ql-container.ql-snow {
      background: $dark-primary !important;
  }
  .ui-multiselect {
     background: $dark-primary !important;
  }
  .ql-snow {
    .ql-picker {
      color: #fff !important;
    }
    .ql-stroke {
      stroke: #fff !important;
    }
  }
  .ui-dropdown {
    background-image: none !important;
    padding-bottom: 0 !important;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container {
    border-bottom: 1px solid #bdbdbd;
    background-color: #fff;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container .pi {
    top: 0;
    right: .75em;
    padding: 1em;
    color: #fff;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container input {
    color: #fff;
  }
  .ui-button {
    background:$white !important;
    color:$dark-primary !important;
  }
  .ui-button .pi {
    color:$dark-primary !important;
    background:transparent !important;
  }
  .ui-calendar .ui-datepicker-trigger {
    background:transparent !important;
  }
  .ui-calendar .ui-datepicker-trigger .pi {
    color: $white !important;
  }
  .ui-selectbutton .ui-button.ui-state-active {
    color:$dark-primary !important;
    background-color:$white !important;
  }
  .md-inputfield {
    color:$white !important;
    background-color:$dark-primary !important;
  }
  .ui-inputtext {
    color:$white !important;
    background-image:linear-gradient(to bottom, $white, $white), linear-gradient(to bottom, $white, $white) !important;
  }
  .md-inputfield label {
    color:$white !important;
    background:none !important;
  }
  .ui-dropdown {
    background-image:linear-gradient(to bottom, $white, $white), linear-gradient(to bottom, $white, $white);
  }
  .ui-chkbox .ui-chkbox-box.ui-state-active {
    background:$white !important;
    border-color:$dark-primary !important;
  }
  .ui-chkbox .ui-chkbox-box.ui-state-active .ui-chkbox-icon {
    color:$dark-primary !important;
  }
  .ui-chkbox .ui-chkbox-box {
    background:$white !important;
    border-color:$dark-primary !important;
  }
  .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    color:$dark-primary !important;
  }
  .ui-dropdown-panel .ui-dropdown-item {
    color:$white !important;
  }
  .ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color:$dark-secondary !important;
    color:$white !important;
  }
  .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
    background-color:$dark-secondary !important;
    color:$white !important;
  }


  .ui-fluid .ui-inputtext {
    padding: 1em .75em 1em .75em;
    border: none;
    background: #353535 !important;
  }
  .md-inputfield > label {
    padding:1em .75em 1em .75em;
    top:0px;
  }
  .md-inputfield input:focus ~ label, .md-inputfield .ui-inputwrapper-focus ~ label, .md-inputfield .ui-inputwrapper-filled ~ label {
    top:-5;
    background: $dark-primary !important;
  }

  //.md-inputfield input.ui-state-filled ~ label {
  //  background: #353535 !important;
  //  margin-top: 8px;
  //  padding: 0px 5px 0px 5px;
  //}
  .ui-float-label>input:focus ~ label, .ui-float-label>input.ui-state-filled ~ label, .ui-float-label>.ui-inputwrapper-focus ~ label, .ui-float-label>.ui-inputwrapper-filled ~ label {
    color:#fff !important;
    background: #353535 !important
  }

  .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label  {
    color: #fff;
    background: none !important;
  }
  body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label  {
    color: #fff;
    background: none !important;
  }
  .ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, p-chips.ng-dirty.ng-invalid > .ui-inputtext, p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, p-spinner.ng-dirty.ng-invalid > .ui-inputtext, p-selectbutton.ng-dirty.ng-invalid .ui-button, p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border: 1px solid $error !important;
    background: rgba(204, 0, 0, 0.2) !important;
  }
  .md-inputfield input.ng-dirty.ng-invalid ~ label {
    color:$error !important;
  }
  .ng-invalid::placeholder {
    color:$error !important;
  }
  .pi.pi-caret-up:before {
    color:$white;
  }
  .pi.pi-caret-down:before {
    color:$white;
  }
  .ui-fluid .ui-spinner .ui-spinner-button {
    background:transparent !important;
  }
  .ui-fluid .ui-spinner .ui-spinner-button .pi {
    background:transparent !important;
  }

  .ui-slider .ui-slider-range{
    background-color: $white;
  }
  .ui-slider .ui-slider-handle {
    background-color: $white;
  }

  .ui-state-active, body .ui-state-highlight {
    background-color: $white;
    color:$dark-secondary;
  }
  .ui-widget-header {
    border-color: $white !important;
    background:transparent !important;
  }
  .ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-inputtext {
    border:none;
  }
  .ui-listbox .ui-listbox-header .ui-listbox-filter-container .pi {
    color: $white !important;
  }
  .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container .pi {
    color: $white !important;
  }
  body .ui-fluid .ui-inputgroup .ui-button-icon-only {
    top:4px;
  }
  .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
    background:transparent !important;
  }
  .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-input-token > input {
    color: $white !important;
  }
  .ui-datepicker tbody td a.ui-state-active {
    background-color: $white;
    color:$dark-secondary;
  }
  .ui-datepicker tbody td.ui-datepicker-today a {
    border-color: $white;
    color: $dark-primary !important;
  }
  .ui-datepicker .ui-datepicker-header {
    background: $dark-primary;
    border-color: $dark-primary;
  }
  .ui-datepicker thead tr {
    background:$dark-secondary;
  }
  .ui-datepicker tbody td a {
    color:$white;
  }
  .ui-rating .pi-star {
    color:$white;
  }
  .ui-datepicker .ui-monthpicker .ui-monthpicker-month {
    color:$white;
  }
  .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active{
    background-color: $dark-primary;
    color:$white;
  }
  .ui-chips > ul.ui-inputtext .ui-chips-input-token > input {
    color:$white;
  }
  .ui-radiobutton .ui-radiobutton-box:before {
    background-color: $white;
  }
  .ui-radiobutton .ui-radiobutton-box:before {
    background-color: $white;
  }
  .ui-radiobutton .ui-radiobutton-box .pi-circle-on {
    background-color: $white;
  }
  .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: $white;
  }
  .ui-listbox .ui-listbox-item.ui-state-highlight {
    background-color: $dark-primary;
    color:$white;
  }
  .ui-state-active{
    background-color: $white !important;
    color:$dark-primary !important;
  }
  .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    background-color: $white;
  }
  .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider {
    background-color: $white;
  }
  .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: $white;
  }
  .ui-radiobutton .ui-radiobutton-box:before {
    background-color: $white;
  }
  .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: $white;
  }
  a {
    color:$white;
  }
  .ui-listbox .ui-listbox-header {
    background-color: transparent !important;
  }
  .ui-progressbar .ui-progressbar-value {
    background-color: $white  !important;
  }
  .md-inputfield-box input {
    background: $dark-primary !important;
  }

  .md-inputfield-box input:focus {
    border-color: $white !important;
    border: 1px solid $white !important;
  }
  .ui-widget-header .ui-inputtext, .ui-widget-header .ui-inputtext:focus, .ui-widget-content .ui-inputtext, .ui-widget-content .ui-inputtext:focus {
    border: 1px solid $dark-grey;
    background: $dark-primary !important;
  }
}

