body {

  p-table {

   .ui-table .ui-paginator-top {
      border-bottom: 0;
      display: none !important;
    }

    .ui-table .ui-paginator-bottom {
      border-top: 0;
      top: 0 !important;
    }
    .ui-paginator:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -45px;
      top: 0px;
      border-bottom: 45px solid transparent;
      border-right: 45px solid #fff;
      width: 0;
    }
    .ui-paginator {
      padding: 5.609375px !important;
      right: 0px !important;
      position: relative !important;
      border-radius:0px;

      .ui-paginator-pages {
        .ui-paginator-page {
          background-color: #f7f6f9 !important;
          border-radius: 5px;
        }
        .ui-paginator-page.ui-state-active {
          color: #f7f6f9 !important;
          background-color: #005cf2 !important;
        }
      }
      .ui-paginator-pages a::-moz-focus-inner {
        border: 0;
        outline:none;
      }
      .ui-paginator-pages a {
        border: 0;
        outline:none;
        margin:0px 5px 0px 5px;
      }
      .ui-paginator-first {
        width: 50px;
      }
      .ui-paginator-first:before {
        background: #fff;
        border-radius: 20px;
        margin-top: 9px;
        padding: 6px;
        width: 49px;
        border-right: none;
        display: flex;
        content: " ";
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33px' height='11px' version='1.1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 33 11.04' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfont id='FontID0' horiz-adv-x='667' font-variant='normal' fill-rule='nonzero' font-weight='400'%3E%3Cfont-face font-family='Arial'%3E%3Cfont-face-src%3E%3Cfont-face-name name='Arial'/%3E%3C/font-face-src%3E%3C/font-face%3E%3Cmissing-glyph%3E%3Cpath d='M0 0z'/%3E%3C/missing-glyph%3E%3Cglyph unicode='c' horiz-adv-x='500' d='M405.163 190.028l86.0541 -12.0121c-9.55063,-59.1745 -33.5749,-105.352 -72.3682,-138.829 -38.8917,-33.4764 -86.7434,-50.2147 -143.259,-50.2147 -70.8913,0 -127.9,23.2366 -170.927,69.5128 -43.1255,46.3747 -64.6883,112.737 -64.6883,199.086 0,56.0238 9.35371,104.86 27.8642,146.902 18.5105,41.8455 46.6701,73.3528 84.6757,94.2263 37.9071,20.972 79.0635,31.5072 123.764,31.5072 56.2207,0 102.399,-14.1783 138.041,-42.7317 35.8395,-28.455 58.8791,-69.0205 68.8236,-121.303l-84.9711 -13.0952c-8.17219,34.8549 -22.5474,61.0453 -43.4209,78.7681 -20.6766,17.5259 -45.6855,26.2888 -75.0266,26.2888 -44.307,0 -80.3434,-15.8521 -108.208,-47.4578 -27.6673,-31.9011 -41.4517,-81.9188 -41.4517,-150.546 0,-69.7098 13.2921,-120.22 39.9748,-151.727 26.8796,-31.5072 61.7345,-47.3593 104.565,-47.3593 34.658,0 63.5068,10.4368 86.5464,31.6057 23.1381,21.0705 37.8087,53.5623 44.0117,97.377z'/%3E%3Cglyph unicode='i' horiz-adv-x='222' d='M66.0667 616.262l0 100.035 88.0233 0 0 -100.035 -88.0233 0zm0 -616.262l0 519.18 88.0233 0 0 -519.18 -88.0233 0z'/%3E%3Cglyph unicode='n' horiz-adv-x='556' d='M66.0667 0l0 519.18 78.965 0 0 -73.6482c38.0056,56.5161 93.0448,84.6757 164.921,84.6757 31.3103,0 60.0607,-5.71069 86.1526,-16.8367 26.1904,-11.2245 45.8824,-25.9935 58.8791,-44.2086 12.9967,-18.2151 22.1535,-39.8763 27.3719,-64.8852 3.15072,-16.3444 4.82455,-44.7993 4.82455,-85.4634l0 -318.814 -88.0233 0 0 315.466c0,35.8395 -3.34764,62.6206 -10.1414,80.3434 -6.89221,17.6244 -19.0028,31.8026 -36.4302,42.5348 -17.329,10.4368 -37.8087,15.8521 -61.1437,15.8521 -37.3164,0 -69.5128,-11.9137 -96.6878,-35.741 -27.175,-23.6304 -40.664,-68.8236 -40.664,-135.186l0 -283.27 -88.0233 0z'/%3E%3Cglyph unicode='o' horiz-adv-x='556' d='M32.9841 259.639c0,95.8017 26.6827,166.89 80.245,213.068 44.504,38.301 99.0509,57.5007 163.247,57.5007 71.1867,0 129.475,-23.335 174.865,-70.0051 45.1932,-46.5716 67.839,-111.063 67.839,-193.277 0,-66.6575 -10.0429,-119.038 -30.0303,-157.241 -19.9874,-38.2025 -49.1316,-67.839 -87.531,-89.0079 -38.2025,-21.1689 -80.0481,-31.7042 -125.143,-31.7042 -72.762,0 -131.444,23.2366 -176.244,69.7098 -44.8978,46.4732 -67.2483,113.525 -67.2483,200.957zm90.091 -0.19692c0,-66.3621 14.4736,-116.084 43.5194,-148.872 29.1442,-33.0826 65.6729,-49.5254 109.881,-49.5254 43.6178,0 79.9496,16.4428 109.192,49.6239 28.9473,33.1811 43.5194,83.6911 43.5194,151.629 0,63.9991 -14.6706,112.54 -43.9132,145.327 -29.1442,32.9841 -65.476,49.5254 -108.798,49.5254 -44.2086,0 -80.7373,-16.3444 -109.881,-49.1316 -29.0457,-32.8857 -43.5194,-82.4111 -43.5194,-148.576z'/%3E%3Cglyph unicode='Í' horiz-adv-x='277' d='M93.0448 0l0 716.297 95.014 0 0 -716.297 -95.014 0zm-29.0457 760.309l63.9991 137.056 116.084 0 -107.026 -137.056 -73.0574 0z'/%3E%3C/font%3E%3C/defs%3E%3Cg id='Camada_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Ctext x='1.46' y='11.45' fill='%23373435' font-weight='normal' font-size='12.14px' font-family='Arial'%3EÍnicio%3C/text%3E%3C/g%3E%3C/svg%3E");
      }
      .ui-paginator-last {
        width: 50px;
      }
      .ui-paginator-last:before {
        background: #fff;
        border-radius: 20px;
        margin-top: -4px;
        padding: 6px;
        width: 49px;
        border-right: none;
        display: flex;
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33px' height='11px' version='1.1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 33 11.04' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfont id='FontID0' horiz-adv-x='667' font-variant='normal' fill-rule='nonzero' font-weight='400'%3E%3Cfont-face font-family='Arial'%3E%3Cfont-face-src%3E%3Cfont-face-name name='Arial'/%3E%3C/font-face-src%3E%3C/font-face%3E%3Cmissing-glyph%3E%3Cpath d='M0 0z'/%3E%3C/missing-glyph%3E%3Cglyph unicode='i' horiz-adv-x='222' d='M66.0667 616.262l0 100.035 88.0233 0 0 -100.035 -88.0233 0zm0 -616.262l0 519.18 88.0233 0 0 -519.18 -88.0233 0z'/%3E%3Cglyph unicode='l' horiz-adv-x='222' d='M63.9991 0l0 716.297 88.0233 0 0 -716.297 -88.0233 0z'/%3E%3Cglyph unicode='m' horiz-adv-x='833' d='M66.0667 0l0 519.18 78.965 0 0 -73.3528c16.1475,25.3042 37.9071,45.8824 64.8852,61.1437 26.9781,15.5567 57.6976,23.2366 92.1587,23.2366 38.3994,0 69.9067,-7.97527 94.4232,-23.8273 24.5166,-16.049 41.8455,-38.2025 51.79,-66.8544 41.3532,60.4545 94.9155,90.6818 160.884,90.6818 51.6916,0 91.5679,-14.1783 119.235,-42.7317 27.8642,-28.455 41.8455,-72.3682 41.8455,-131.543l0 -355.933 -88.0233 0 0 326.789c0,35.0518 -2.9538,60.356 -8.66449,75.8143 -5.71069,15.5567 -15.9505,27.8642 -31.2119,37.4148 -14.9659,9.45217 -32.5903,14.1783 -52.7746,14.1783 -36.7256,0 -67.0513,-12.2091 -91.2725,-36.4302 -24.1227,-24.3196 -36.1349,-63.1129 -36.1349,-116.478l0 -301.288 -88.0233 0 0 336.93c0,38.9902 -7.18759,68.3313 -21.5628,87.9249 -14.2767,19.4951 -37.8087,29.3411 -70.3005,29.3411 -24.7135,0 -47.5562,-6.49837 -68.5282,-19.4951 -21.0705,-13.0952 -36.2333,-32.098 -45.6855,-57.2053 -9.35371,-25.0089 -13.9813,-61.2422 -13.9813,-108.405l0 -269.091 -88.0233 0z'/%3E%3Cglyph unicode='o' horiz-adv-x='556' d='M32.9841 259.639c0,95.8017 26.6827,166.89 80.245,213.068 44.504,38.301 99.0509,57.5007 163.247,57.5007 71.1867,0 129.475,-23.335 174.865,-70.0051 45.1932,-46.5716 67.839,-111.063 67.839,-193.277 0,-66.6575 -10.0429,-119.038 -30.0303,-157.241 -19.9874,-38.2025 -49.1316,-67.839 -87.531,-89.0079 -38.2025,-21.1689 -80.0481,-31.7042 -125.143,-31.7042 -72.762,0 -131.444,23.2366 -176.244,69.7098 -44.8978,46.4732 -67.2483,113.525 -67.2483,200.957zm90.091 -0.19692c0,-66.3621 14.4736,-116.084 43.5194,-148.872 29.1442,-33.0826 65.6729,-49.5254 109.881,-49.5254 43.6178,0 79.9496,16.4428 109.192,49.6239 28.9473,33.1811 43.5194,83.6911 43.5194,151.629 0,63.9991 -14.6706,112.54 -43.9132,145.327 -29.1442,32.9841 -65.476,49.5254 -108.798,49.5254 -44.2086,0 -80.7373,-16.3444 -109.881,-49.1316 -29.0457,-32.8857 -43.5194,-82.4111 -43.5194,-148.576z'/%3E%3Cglyph unicode='t' horiz-adv-x='277' d='M257.079 78.5712l12.0121 -77.7835c-24.7135,-5.11993 -46.867,-7.77835 -66.1652,-7.77835 -31.9011,0 -56.5161,5.02147 -74.2389,15.1629 -17.5259,10.1414 -29.8334,23.335 -37.021,39.8763 -7.08913,16.4428 -10.6337,51.1993 -10.6337,103.974l0 299.122 -64.9837 0 0 68.0359 64.9837 0 0 128.392 88.0233 52.8731 0 -181.265 88.0233 0 0 -68.0359 -88.0233 0 0 -304.045c0,-25.2058 1.4769,-41.3532 4.62763,-48.5408 3.05226,-7.18759 8.07373,-12.8983 15.0644,-17.2305 6.99067,-4.13532 17.0336,-6.30145 30.0303,-6.30145 9.64909,0 22.4489,1.18152 38.301,3.54456z'/%3E%3Cglyph unicode='Ú' horiz-adv-x='722' d='M546.158 716.297l95.1125 0 0 -413.729c0,-71.9743 -8.17219,-129.18 -24.4181,-171.518 -16.3444,-42.1409 -45.6855,-76.7004 -88.0233,-103.186 -42.5348,-26.4858 -97.9678,-39.8763 -166.988,-39.8763 -66.8544,0 -121.795,11.5198 -164.231,34.658 -42.7317,23.2366 -73.0574,56.5161 -91.2725,100.429 -18.1167,43.8147 -27.2734,103.678 -27.2734,179.493l0 413.729 95.014 0 0 -413.532c0,-62.2268 5.80915,-108.208 17.329,-137.549 11.5198,-29.538 31.2119,-52.3808 59.3714,-68.1344 27.9627,-16.049 62.3252,-24.0243 102.891,-24.0243 69.3159,0 118.841,15.8521 148.379,47.3593 29.4396,31.6057 44.1101,92.3556 44.1101,182.348l0 413.532zm-266.039 44.0117l63.9991 137.056 116.084 0 -107.125 -137.056 -72.9589 0z'/%3E%3C/font%3E%3C/defs%3E%3Cg id='Camada_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Ctext x='-1.66' y='11.45' fill='%23373435' font-weight='normal' font-size='12.14px' font-family='Arial'%3EÚltimo%3C/text%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
      .ui-dropdown {
        min-width: 2.3em !important;
        margin-left: 0px !important;
        .ui-dropdown-trigger {
          .pi {
            margin-top:-10px;
          }
        }
        .ui-dropdown-label {
          border: none;
          padding: 5px 0px 5px 10px !important;
          display: flex;
          background: #f7f6f9;
          color:rgba(0,0,0,.87);
          width: 45px;
          margin-right: 6px;
          font-size: 14px;
        }
      }

    }
  }
  .ui-table-thead {
    .ui-chkbox {
      .ui-chkbox-box {
        margin-left:9px;
        width:16px;
        height:16px;
        margin-top: 5px;
        .ui-chkbox-icon {
          font-size: 15px;
          margin-left: -1px;
          margin-top: -2px;
        }
      }
    }
  }
  .ui-selectable-row {
    .ui-chkbox {
      padding-left:9px;
      .ui-chkbox-box {
        width:16px;
        height:16px;
        .ui-chkbox-icon {
          font-size: 15px;
          margin-left: -1px;
          margin-top: -2px;
        }
      }
    }
    .ui-button-secondary {
      border:none;
      font-size:14px;
      background: none;
    }
    .ui-button-secondary[type="button"]{
      outline:none;
    }
    .ui-button-secondary[type="button"]::-moz-focus-inner {
      border: 0;
      outline:none;
    }
  }

  .ui-paginator > a:not(.ui-state-disabled):not(.ui-state-active):hover {
    background: transparent;
  }
  .ui-paginator {
    margin: 0;
    top:112px;
    text-align: center;
    padding: .125em;
    float:right;
    background-color:#fff;
    border-radius: 20px;
    border: 0px;
    width:auto;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.1);
    right:25px !important;
    z-index: 1;
    .ui-paginator-pages a::-moz-focus-inner {
      border: 0;
      outline:none;
    }
    .ui-paginator-pages {
      .ui-paginator-page.ui-state-active {
        color:$azul-secondary;
        background-color: $white;
      }
    }
    .ui-paginator-pages a {
      border: 0;
      outline:none;
    }
    .ui-paginator-last:before {
      background: #fff;
      border-radius: 20px;
      margin-top: -2px;
      padding: 2px;
      width: 41px;
      height: 40px;
      border-right: 1.5px solid rgba(0, 0, 0, 0.2);
      display: flex;
    }
    .ui-dropdown {
      min-width: 2.3em !important;
      margin-left: 0px !important;
      .ui-dropdown-trigger {
        .pi {
          margin-top:-23px;
        }
      }
      .ui-dropdown-label {
        padding:0 !important;
        border: none;
        display: none
      }
    }
    .ui-paginator-pages a {
      color:$dark-primary;
      text-decoration: none;
    }
    .ui-paginator-pages a:not(.ui-state-active):hover {
      background-color: $white;
    }
    .ui-paginator-top {
      border-bottom: 0
    }
    .ui-paginator-bottom {
      border-top: 0;
    }
    .ui-paginator-left-content {
      float: left
    }
    .ui-paginator-right-content {
      float: right
    }
    .ui-paginator-pages {
      width: auto;
      margin:0px 0px 4px 0px;
      line-height: 1;
      color:$table-color-active;
    }
    .ui-paginator-icon {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1em;
      height: 1em;
      margin-top: -.5em;
      margin-left: -.5em
    }
    .ui-paginator-current,
    .ui-paginator .ui-paginator-rpp-options {
      margin-left: 1em;
      margin-right: 1em;
      background-image: none
    }
    .ui-paginator-jtp-select option,
    .ui-paginator .ui-paginator-rpp-options option {
      background-image: none;
      border: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none
    }
    .ui-paginator a.ui-state-disabled {
      outline: 0;
      color:$dark-primary;
    }
    .ui-dropdown {
      min-width: 4em;
      margin-left: .375em
    }
    .ui-fluid {
      .ui-paginator {
        .ui-dropdown {
          width: auto
        }
      }
    }
  }

  .ui-paginator .ui-paginator-current,
  .ui-paginator .ui-paginator-first,
  .ui-paginator .ui-paginator-last,
  .ui-paginator .ui-paginator-next,
  .ui-paginator .ui-paginator-page,
  .ui-paginator .ui-paginator-pages,
  .ui-paginator .ui-paginator-prev {
    display: inline-block;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    zoom: 1;
    color:$table-color-active;
    margin-left: .063em;
    margin-right: .063em;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border: 0;
    outline:none;
  }

  .ui-paginator .ui-paginator-first,
  .ui-paginator .ui-paginator-last,
  .ui-paginator .ui-paginator-next,
  .ui-paginator .ui-paginator-page,
  .ui-paginator .ui-paginator-prev {
    cursor: pointer
  }

  .ui-table {
    padding:0px;

    .ui-table .ui-paginator-top {
      border-bottom: 0
    }

    .ui-table .ui-paginator-bottom {
      border-top: 0;
      display: none !important;
    }

    .ui-table-tbody > tr > td {
      word-break: break-all;
    }
    .ui-table-thead > tr > th {
      text-transform: uppercase !important;

      .ui-state-active {
        outline: none !important;
      }

      .ui-state-active:focus {
        outline: none !important;
      }

      .ui-state-highlight:focus {
        outline: none;
      }

      .ui-state-highlight:focus{

        .pi-sort:before {
          color: rgba(0, 0, 0, 0.54) !important;
        }

      }

    }


  }
  .pi-sort:before {
    color: transparent;
  }
}

@media screen and (max-width:634px) {
  body {
    .ui-paginator .ui-paginator-first,
    .ui-paginator .ui-paginator-last {
      display: none;
    }
    .ui-paginator .ui-paginator-prev,
    .ui-paginator .ui-paginator-next {
      min-width: 0 !important;
    }
    .uikit-content-header {
      margin-top: 10%;
    }
    .mat-select-panel-wrap {
      flex-basis: auto !important;
    }
    .uikit-actions {
      .fa-trash-alt:before {
        margin-left: 0px !important;
      }
    }
  }
}

@media screen and (max-width:350px) {
  body {
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-page-size {
      position: absolute !important;
      height: 40px !important;
      max-height: 40px !important;
      right: 18px;
    }
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-range-actions {
      max-width:150px;
    }
    .mat-icon-button {
      width:40px;
    }
    .mat-select-panel-wrap {
      flex-basis: auto !important;
    }
    .uikit-actions {
      .fa-trash-alt:before {
        margin-left: 0px !important;
      }
    }
  }
}
@media screen and (max-width:340px) {
  body {
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-page-size {
      position: absolute !important;
      height: 40px !important;
      max-height: 40px !important;
      right: 18px;
    }
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-range-actions {
      max-width:109px;
    }
    .mat-icon-button {
      width:25px;
    }
    .mat-select-panel-wrap {
      flex-basis: auto !important;
    }
    .uikit-actions {
      .fa-trash-alt:before {
        margin-left: 0px !important;
      }
    }
  }
}
@media screen and (max-width:322px) {
  body {
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-page-size {
      position: absolute !important;
      height: 40px !important;
      max-height: 40px !important;
      right: 18px;
    }
    .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-range-actions {
      max-width:109px;
    }
    .mat-icon-button {
      width:25px;
    }
    .mat-select-panel-wrap {
      flex-basis: auto !important;
    }
    .uikit-actions {
      .fa-trash-alt:before {
        margin-left: 0px !important;
      }
    }
  }
}

@media screen and (max-width:992px) {
  body {
    .ui-paginator {
      right:20px !important;
      position: fixed;
      top:118px;
    }
    .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
      width:50px !important;
    }
    .mat-select-panel-wrap {
       flex-basis: auto !important;
    }
    .cdk-overlay-pane {
      max-width: 100vw !important;
    }
    .uikit-actions {
      .fa-trash-alt:before {
        margin-left: 0px !important;
      }
    }
    .mat-slider-horizontal {
       width: 96% !important;
     }
  }
}

.uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-page-size {
  max-height: 40px !important;
}
.dark {
  .ui-paginator {

    .ui-paginator-first:before {
      color: #fff;
     }
    .ui-paginator-last:before {
      color: #fff;
    }
    .ui-paginator-last:before {
      background: #212121;
      border-right: 1.5px solid rgba(255,255,255,.2) ;
    }
    .ui-paginator-pages {
      .ui-paginator-page {
        background-color: #424242 !important;
        border-radius: 5px;
      }
      .ui-paginator-page.ui-state-active {
        color: #212121 !important;
        background-color: #fff !important;
      }
    }
  }

  p-table {
    .ui-paginator-first {
      width: 50px;
    }
    .ui-paginator-first:before {
      background: transparent !important;
      border-radius: 20px;
      margin-top: 9px;
      padding: 6px;
      width: 49px;
      border-right: none !important;
      display: flex;
      content: " ";
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33px' height='11px' version='1.1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 33 11.04' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfont id='FontID0' horiz-adv-x='667' font-variant='normal' fill-rule='nonzero' font-weight='400'%3E%3Cfont-face font-family='Arial'%3E%3Cfont-face-src%3E%3Cfont-face-name name='Arial'/%3E%3C/font-face-src%3E%3C/font-face%3E%3Cmissing-glyph%3E%3Cpath d='M0 0z'/%3E%3C/missing-glyph%3E%3Cglyph unicode='c' horiz-adv-x='500' d='M405.163 190.028l86.0541 -12.0121c-9.55063,-59.1745 -33.5749,-105.352 -72.3682,-138.829 -38.8917,-33.4764 -86.7434,-50.2147 -143.259,-50.2147 -70.8913,0 -127.9,23.2366 -170.927,69.5128 -43.1255,46.3747 -64.6883,112.737 -64.6883,199.086 0,56.0238 9.35371,104.86 27.8642,146.902 18.5105,41.8455 46.6701,73.3528 84.6757,94.2263 37.9071,20.972 79.0635,31.5072 123.764,31.5072 56.2207,0 102.399,-14.1783 138.041,-42.7317 35.8395,-28.455 58.8791,-69.0205 68.8236,-121.303l-84.9711 -13.0952c-8.17219,34.8549 -22.5474,61.0453 -43.4209,78.7681 -20.6766,17.5259 -45.6855,26.2888 -75.0266,26.2888 -44.307,0 -80.3434,-15.8521 -108.208,-47.4578 -27.6673,-31.9011 -41.4517,-81.9188 -41.4517,-150.546 0,-69.7098 13.2921,-120.22 39.9748,-151.727 26.8796,-31.5072 61.7345,-47.3593 104.565,-47.3593 34.658,0 63.5068,10.4368 86.5464,31.6057 23.1381,21.0705 37.8087,53.5623 44.0117,97.377z'/%3E%3Cglyph unicode='i' horiz-adv-x='222' d='M66.0667 616.262l0 100.035 88.0233 0 0 -100.035 -88.0233 0zm0 -616.262l0 519.18 88.0233 0 0 -519.18 -88.0233 0z'/%3E%3Cglyph unicode='n' horiz-adv-x='556' d='M66.0667 0l0 519.18 78.965 0 0 -73.6482c38.0056,56.5161 93.0448,84.6757 164.921,84.6757 31.3103,0 60.0607,-5.71069 86.1526,-16.8367 26.1904,-11.2245 45.8824,-25.9935 58.8791,-44.2086 12.9967,-18.2151 22.1535,-39.8763 27.3719,-64.8852 3.15072,-16.3444 4.82455,-44.7993 4.82455,-85.4634l0 -318.814 -88.0233 0 0 315.466c0,35.8395 -3.34764,62.6206 -10.1414,80.3434 -6.89221,17.6244 -19.0028,31.8026 -36.4302,42.5348 -17.329,10.4368 -37.8087,15.8521 -61.1437,15.8521 -37.3164,0 -69.5128,-11.9137 -96.6878,-35.741 -27.175,-23.6304 -40.664,-68.8236 -40.664,-135.186l0 -283.27 -88.0233 0z'/%3E%3Cglyph unicode='o' horiz-adv-x='556' d='M32.9841 259.639c0,95.8017 26.6827,166.89 80.245,213.068 44.504,38.301 99.0509,57.5007 163.247,57.5007 71.1867,0 129.475,-23.335 174.865,-70.0051 45.1932,-46.5716 67.839,-111.063 67.839,-193.277 0,-66.6575 -10.0429,-119.038 -30.0303,-157.241 -19.9874,-38.2025 -49.1316,-67.839 -87.531,-89.0079 -38.2025,-21.1689 -80.0481,-31.7042 -125.143,-31.7042 -72.762,0 -131.444,23.2366 -176.244,69.7098 -44.8978,46.4732 -67.2483,113.525 -67.2483,200.957zm90.091 -0.19692c0,-66.3621 14.4736,-116.084 43.5194,-148.872 29.1442,-33.0826 65.6729,-49.5254 109.881,-49.5254 43.6178,0 79.9496,16.4428 109.192,49.6239 28.9473,33.1811 43.5194,83.6911 43.5194,151.629 0,63.9991 -14.6706,112.54 -43.9132,145.327 -29.1442,32.9841 -65.476,49.5254 -108.798,49.5254 -44.2086,0 -80.7373,-16.3444 -109.881,-49.1316 -29.0457,-32.8857 -43.5194,-82.4111 -43.5194,-148.576z'/%3E%3Cglyph unicode='Í' horiz-adv-x='277' d='M93.0448 0l0 716.297 95.014 0 0 -716.297 -95.014 0zm-29.0457 760.309l63.9991 137.056 116.084 0 -107.026 -137.056 -73.0574 0z'/%3E%3C/font%3E%3C/defs%3E%3Cg id='Camada_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Ctext x='1.46' y='11.45' fill='%23fff' font-weight='normal' font-size='12.14px' font-family='Arial'%3EÍnicio%3C/text%3E%3C/g%3E%3C/svg%3E") !important;
    }
    .ui-paginator-last {
      width: 50px;
    }
    .ui-paginator-last:before {
      background: transparent !important;
      border-radius: 20px;
      margin-top: -4px;
      padding: 6px;
      width: 49px;
      border-right: none !important;
      display: flex;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33px' height='11px' version='1.1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 33 11.04' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfont id='FontID0' horiz-adv-x='667' font-variant='normal' fill-rule='nonzero' font-weight='400'%3E%3Cfont-face font-family='Arial'%3E%3Cfont-face-src%3E%3Cfont-face-name name='Arial'/%3E%3C/font-face-src%3E%3C/font-face%3E%3Cmissing-glyph%3E%3Cpath d='M0 0z'/%3E%3C/missing-glyph%3E%3Cglyph unicode='i' horiz-adv-x='222' d='M66.0667 616.262l0 100.035 88.0233 0 0 -100.035 -88.0233 0zm0 -616.262l0 519.18 88.0233 0 0 -519.18 -88.0233 0z'/%3E%3Cglyph unicode='l' horiz-adv-x='222' d='M63.9991 0l0 716.297 88.0233 0 0 -716.297 -88.0233 0z'/%3E%3Cglyph unicode='m' horiz-adv-x='833' d='M66.0667 0l0 519.18 78.965 0 0 -73.3528c16.1475,25.3042 37.9071,45.8824 64.8852,61.1437 26.9781,15.5567 57.6976,23.2366 92.1587,23.2366 38.3994,0 69.9067,-7.97527 94.4232,-23.8273 24.5166,-16.049 41.8455,-38.2025 51.79,-66.8544 41.3532,60.4545 94.9155,90.6818 160.884,90.6818 51.6916,0 91.5679,-14.1783 119.235,-42.7317 27.8642,-28.455 41.8455,-72.3682 41.8455,-131.543l0 -355.933 -88.0233 0 0 326.789c0,35.0518 -2.9538,60.356 -8.66449,75.8143 -5.71069,15.5567 -15.9505,27.8642 -31.2119,37.4148 -14.9659,9.45217 -32.5903,14.1783 -52.7746,14.1783 -36.7256,0 -67.0513,-12.2091 -91.2725,-36.4302 -24.1227,-24.3196 -36.1349,-63.1129 -36.1349,-116.478l0 -301.288 -88.0233 0 0 336.93c0,38.9902 -7.18759,68.3313 -21.5628,87.9249 -14.2767,19.4951 -37.8087,29.3411 -70.3005,29.3411 -24.7135,0 -47.5562,-6.49837 -68.5282,-19.4951 -21.0705,-13.0952 -36.2333,-32.098 -45.6855,-57.2053 -9.35371,-25.0089 -13.9813,-61.2422 -13.9813,-108.405l0 -269.091 -88.0233 0z'/%3E%3Cglyph unicode='o' horiz-adv-x='556' d='M32.9841 259.639c0,95.8017 26.6827,166.89 80.245,213.068 44.504,38.301 99.0509,57.5007 163.247,57.5007 71.1867,0 129.475,-23.335 174.865,-70.0051 45.1932,-46.5716 67.839,-111.063 67.839,-193.277 0,-66.6575 -10.0429,-119.038 -30.0303,-157.241 -19.9874,-38.2025 -49.1316,-67.839 -87.531,-89.0079 -38.2025,-21.1689 -80.0481,-31.7042 -125.143,-31.7042 -72.762,0 -131.444,23.2366 -176.244,69.7098 -44.8978,46.4732 -67.2483,113.525 -67.2483,200.957zm90.091 -0.19692c0,-66.3621 14.4736,-116.084 43.5194,-148.872 29.1442,-33.0826 65.6729,-49.5254 109.881,-49.5254 43.6178,0 79.9496,16.4428 109.192,49.6239 28.9473,33.1811 43.5194,83.6911 43.5194,151.629 0,63.9991 -14.6706,112.54 -43.9132,145.327 -29.1442,32.9841 -65.476,49.5254 -108.798,49.5254 -44.2086,0 -80.7373,-16.3444 -109.881,-49.1316 -29.0457,-32.8857 -43.5194,-82.4111 -43.5194,-148.576z'/%3E%3Cglyph unicode='t' horiz-adv-x='277' d='M257.079 78.5712l12.0121 -77.7835c-24.7135,-5.11993 -46.867,-7.77835 -66.1652,-7.77835 -31.9011,0 -56.5161,5.02147 -74.2389,15.1629 -17.5259,10.1414 -29.8334,23.335 -37.021,39.8763 -7.08913,16.4428 -10.6337,51.1993 -10.6337,103.974l0 299.122 -64.9837 0 0 68.0359 64.9837 0 0 128.392 88.0233 52.8731 0 -181.265 88.0233 0 0 -68.0359 -88.0233 0 0 -304.045c0,-25.2058 1.4769,-41.3532 4.62763,-48.5408 3.05226,-7.18759 8.07373,-12.8983 15.0644,-17.2305 6.99067,-4.13532 17.0336,-6.30145 30.0303,-6.30145 9.64909,0 22.4489,1.18152 38.301,3.54456z'/%3E%3Cglyph unicode='Ú' horiz-adv-x='722' d='M546.158 716.297l95.1125 0 0 -413.729c0,-71.9743 -8.17219,-129.18 -24.4181,-171.518 -16.3444,-42.1409 -45.6855,-76.7004 -88.0233,-103.186 -42.5348,-26.4858 -97.9678,-39.8763 -166.988,-39.8763 -66.8544,0 -121.795,11.5198 -164.231,34.658 -42.7317,23.2366 -73.0574,56.5161 -91.2725,100.429 -18.1167,43.8147 -27.2734,103.678 -27.2734,179.493l0 413.729 95.014 0 0 -413.532c0,-62.2268 5.80915,-108.208 17.329,-137.549 11.5198,-29.538 31.2119,-52.3808 59.3714,-68.1344 27.9627,-16.049 62.3252,-24.0243 102.891,-24.0243 69.3159,0 118.841,15.8521 148.379,47.3593 29.4396,31.6057 44.1101,92.3556 44.1101,182.348l0 413.532zm-266.039 44.0117l63.9991 137.056 116.084 0 -107.125 -137.056 -72.9589 0z'/%3E%3C/font%3E%3C/defs%3E%3Cg id='Camada_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Ctext x='-1.66' y='11.45' fill='%23fff' font-weight='normal' font-size='12.14px' font-family='Arial'%3EÚltimo%3C/text%3E%3C/g%3E%3C/svg%3E") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }

    .ui-paginator:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -45px;
      top: 0px;
      border-bottom: 45px solid transparent;
      border-right: 45px solid #212121;
      width: 0;
    }
  }
}
