@import '_color.scss';

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background-color: $azul-principal;
}

.dark {
  .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background-color: $dark-secondary;
  }
}
