@import '_color.scss';

.ui-toast-message-warn {
  padding:15px 15px 15px 60px !important;
  border-radius:28px !important;
  background-image: none !important;

}
.ui-toast .ui-toast-message-content {
  padding: 0px;
}
body {
  .ui-toast {
    .ui-toast-message.ui-toast-message-warn {
      background-color: #F89406;
      border: 0 none;
      color: #fff;
    }
    .ui-toast-message.ui-toast-message-info {
      background-color: #004BCB;
      border: 0 none;
      color: #fff;
    }
    .ui-toast-message.ui-toast-message-success {
      background-color: #04B246;
      border: 0 none;
      color: #fff;
    }
    .ui-toast-message.ui-toast-message-error {
      background-color: #FB3E54;
      border: 0 none;
      color: #fff;
    }
    .ui-toast-icon.pi-exclamation-triangle {
      background: #ED8A04;
      padding: 15px;
      height: 100%;
      width: 2em;
      top: 0;
      left:0;
      color: #fff;
    }
    .ui-toast-summary {
      padding: 0px;
    }
    .ui-toast-message-text-content {
      padding: 0px;
      margin-left: 15px;
    }
  }
}
body .ui-button.ui-state-default.ui-button-warning:enabled:focus, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:focus {
  background-color: #F89406;
  color: #fff;
}
body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
  background-color: #F89406;
  color: #fff;
}
body .ui-message.ui-message-warn {
  background-color: #F89406;
  border-color: #F89406;
  color: #fff;
}
body .ui-messages.ui-messages-warn .ui-messages-close:hover {
  background:transparent !important;
}
body .ui-message .ui-message-icon.pi-exclamation-triangle {
  color: #fff;
}
body .ui-toast .ui-toast-icon.pi-exclamation-triangle:before {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .ui-messages.ui-messages-warn {
  background-color: #F89406;
  border-color: #F89406;
  color: #fff;
}
body .ui-messages .ui-messages-icon.pi-exclamation-triangle {
  background: #ED8A04;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-messages {
  padding: 0px;
}
.ui-messages ul>li {
  padding: 15px;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-message-content .ui-toast-close-icon {
  color: #212121;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-messages.ui-messages-warn .ui-messages-close {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}



.ui-toast-message-info {
  padding:15px 15px 15px 60px !important;
  border-radius:28px !important;
  background-image: none !important;

}
body .ui-button.ui-state-default.ui-button-info:enabled:focus, body .ui-buttonset.ui-button-infoing > .ui-button.ui-state-default:enabled:focus {
  background-color: #004BCB;
  color: #fff;
}
body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
  background-color: #004BCB;
  color: #fff;
}
body .ui-message.ui-message-info {
  background-color: #004BCB;
  border-color: #004BCB;
  color: #fff;
}
body .ui-messages.ui-messages-info .ui-messages-close:hover {
  background:transparent !important;
}

body .ui-toast .ui-toast-icon.pi-info-circle:before {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .ui-messages.ui-messages-info {
  background-color: #004BCB;
  border-color: #004BCB;
  color: #fff;
}
body .ui-messages .ui-messages-icon.pi-info-circle {
  background: #003EA9;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-toast .ui-toast-icon.pi-info-circle {
  background: #003EA9;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-messages {
  padding: 0px;
}
.ui-messages ul>li {
  padding: 15px;
}
body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-message-content .ui-toast-close-icon {
  color: #212121;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-messages.ui-messages-info .ui-messages-close {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}








.ui-toast-message-success {
  padding:15px 15px 15px 60px !important;
  border-radius:28px !important;
  background-image: none !important;

}
body .ui-button.ui-state-default.ui-button-success:enabled:focus, body .ui-buttonset.ui-button-successing > .ui-button.ui-state-default:enabled:focus {
  background-color: #04B246;
  color: #fff;
}
body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #04B246;
  color: #fff;
}
body .ui-message.ui-message-success {
  background-color: #04B246;
  border-color: #04B246;
  color: #fff;
}
body .ui-messages.ui-messages-success .ui-messages-close:hover {
  background:transparent !important;
}

body .ui-messages .ui-messages-icon.pi-check {
  background: #04a23f;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-toast .ui-toast-icon.pi-check:before {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .ui-messages.ui-messages-success {
  background-color: #04B246;
  border-color: #04B246;
  color: #fff;
}
body .ui-toast .ui-toast-icon.pi-check {
  background: #04A23F;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}

body .ui-messages {
  padding: 0px;
}
.ui-messages ul>li {
  padding: 15px;
}
body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-message-content .ui-toast-close-icon {
  color: #212121;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-messages.ui-messages-success .ui-messages-close {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-toast .ui-toast-message {
  box-shadow: -3px 7px 25px -4px rgba(0, 0, 0, 0.3);
}


body .ui-messages.ui-messages-error {
  background-color: #FB3E54;
  border-color: #FB3E54;
  color: #ffffff;
}
body .ui-messages .ui-messages-icon.pi-times {
  background: #FB3E54;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
  color: #ffffff;
  background-color: #FB3E54;
}
body .ui-toast .ui-toast-message.ui-messages-error .ui-toast-message-content .ui-toast-close-icon {
  color: #FB3E54;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-messages.ui-messages-error .ui-messages-close {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}

.ui-toast-message-error {
  padding:15px 15px 15px 60px !important;
  border-radius:28px !important;
  background-image: none !important;

}
body .ui-button.ui-state-default.ui-button-error:enabled:focus, body .ui-buttonset.ui-button-erroring > .ui-button.ui-state-default:enabled:focus {
  background-color: #FB3E54;
  color: #fff;
}
body .ui-button.ui-state-default.ui-button-error, body .ui-buttonset.ui-button-error > .ui-button.ui-state-default {
  background-color: #FB3E54;
  color: #fff;
}
body .ui-message.ui-message-error {
  background-color: #212121;
  border-color: #212121;
  color: #fff;
}
body .ui-messages.ui-messages-error .ui-messages-close:hover {
  background:transparent !important;
}

body .ui-messages .ui-messages-icon.pi-times:before {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .ui-toast .ui-toast-icon.pi-times:before {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .ui-messages.ui-messages-error {
  background-color: #FB3E54;
  border-color: #FB3E54;
  color: #fff;
}
body .ui-messages .ui-messages-icon.pi-times {
  background: #FB3E54;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-toast .ui-toast-icon.pi-times {
  background: #FB3E54;
  padding: 15px;
  height: 100%;
  width: 2em;
  top: 0;
  left:0;
  color: #fff;
}
body .ui-messages {
  padding: 0px;
}
.ui-messages ul>li {
  padding: 15px;
}
body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-message-content .ui-toast-close-icon {
  color: #212121;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
body .ui-messages.ui-messages-error .ui-messages-close {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    background: transparent !important;
  }
}
