@import '_color.scss';

.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-header .tab {
  background-color: $azul-principal;
}
.wizard-body .wizard-wrapper .wizard-topbar {
  background-color: $azul-principal;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .forms .ui-inputgroup {
  background-color: transparent;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .forms .ui-dropdown {
  background-color: transparent;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .forms .calendar .ui-calendar input {
  background-color: transparent;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card {
  background-color: $white;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .forms .calendar .ui-calendar input {
  padding: 1em .75em 1em .75em !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .continue-button.ui-button {
  background-color: #004BCB;
  margin-left: 15px;
  margin-right: 15px;
  color:#fff;
  box-shadow:0px 2px 19px -1px rgba(0, 75, 203, 0.3);
}
.wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content.register .forms .ui-dropdown .ui-dropdown-label {
  //padding-bottom: 0 !important;
}
.dark {
  .wizard-body .wizard-wrapper .wizard-content .wizard-card {
    background-color: $dark-primary;
    color:$white;
  }
  .wizard-body .wizard-wrapper .wizard-topbar {
    background-color: $dark-primary;
    color:$white;
  }
  .wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-header .tab {
    background-color: $dark-primary;
    color:$white;
  }
  .wizard-body .wizard-wrapper .wizard-content .wizard-card .wizard-card-content h1 {
    color:$white;
  }
  .order-info {
    background-color: $dark-secondary !important;
    color:$white;
  }
}
