.logomobile {
  content: url('@cnj/uikit/lib/theme/uikit/images/uikit-logotipo-mobile.svg');
}

.logodesk {
  content: url('@cnj/uikit/lib/theme/uikit/images/uikit-logotipo.svg') !important;
}

.dark {
  .logomobile {
    content: url('@cnj/uikit/lib/theme/uikit/images/uikit-logotipo-mobile-bw.svg');
  }

  .logodesk {
    content: url('@cnj/uikit/lib/theme/uikit/images/uikit-logotipo-bw.svg') !important;
  }
}
