<div class="uikit-filter">
  <div class="uikit-finder">
    <mat-form-field>
      <input #search="matInput" matInput placeholder="Pesquisar" autofocus/>
      <button type='button' mat-icon-button class="btn-search" (click)="pesquisar()" [attr.disabled]="!disabled">
        <mat-icon class="fa-2x fas fa-search"></mat-icon>
      </button>
    </mat-form-field>

    <button type="button" (click)="toggleFilters()" #moreFilters mat-flat-button color="primary"
            class="btn-more-filters" matTooltip="Mostrar ou esconder mais opções de filtros"
            aria-label="Mostrar ou esconder mais opções de filtros"
            [matBadge]="(filterBadge$ | async)" [matBadgeHidden]="(filterBadge$ | async) == 0"
            matBadgeColor="accent"
            matBadgeSize="medium">
      mais filtros
    </button>
  </div>
</div>

<ng-template #filterDialog>
  <div>
    <div class="row line">
      <div class="col-10">
        <h1 mat-dialog-title>Filtros</h1>
      </div>

      <div class="col-2">
        <div mat-dialog-actions class="close-position">
          <button class="close" mat-button (click)="onNoClick()"><i class="fas fa-times"></i></button>
        </div>
      </div>
     </div>
    <div mat-dialog-content>
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
