<!-- favnav -->
<div class="favnav" [class.is-closed]="(favorites$ | async).length === 0" [class.is-active]="(leftNav$ | async).opened">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <a [routerLinkActive]="'active'" [routerLink]="favorite.link" [routerLinkActiveOptions]="{exact:true}" mat-icon-button
      *ngFor="let favorite of (favorites$ | async)" cdkDrag matTooltip="Ir para '{{ favorite.title }}'"
      attr.aria-label="Ir para '{{ favorite.title }}'" [matTooltipPosition]="'right'">

      <div class="favnav-placeholder" *cdkDragPlaceholder></div>
      <mat-icon class="fa-lg {{ favorite.icon }}"></mat-icon>
    </a>
  </div>
</div>
