<div class="btn-group">
  <button type="button" (click)="action()" [disabled]="disabled" mat-fab color="primary">
    <mat-icon class="fas fa-save"></mat-icon> {{ selection }}
  </button>
  <div [hidden]="true">
    <button mat-button #uikitSubmitButton type="submit"></button>
    <button mat-button #uikitResetButton type="reset"></button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="disabled" (click)="saveAction()">Salvar</button>
    <button mat-menu-item [disabled]="disabled" (click)="saveBackAction()">Salvar e Voltar</button>
    <button mat-menu-item [disabled]="disabled" (click)="saveNewAction()">Salvar e Novo</button>
  </mat-menu>

  <button type="button" [disabled]="disabled" [matMenuTriggerFor]="menu" mat-fab color="primary">
    <mat-icon class="fas fa-caret-down"></mat-icon>
  </button>
</div>
