/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: $screen-mobile) {
  .is-desktop {
    display: none !important;
  }
  .is-mobile {
    display: initial !important;
    z-index: 999;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $screen-desktop) {
  .is-desktop {
    display: initial !important;
  }
  .is-mobile {
    display: none !important;
  }
}
