
.btn-group {
  display: inline-block;
  > button {

    &:first-child {
      border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; margin:0px !important;
    }
    &:last-child {
      border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;
      padding: 0 6px 0 3px !important;
      background-color: $color-primary-complementar;
    }
  }


}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  line-height: 0px !important;
}
.mat-icon-button .mat-icon, .mat-icon-button i {
  line-height: 25px;
}

.mat-icon-button[aria-label="Acessibilidade"] {
  width:50px !important;
}
.mat-raised-button {
  line-height: 35px !important;
}
.mat-fab.mat-primary {
  background: #004BCB;
}
.uikit-content-header .uikit-content-body .uikit-filter .btn-more-filters {
  background-color: #CAD0DE;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.84);
}

.uikit-content-header .uikit-content-body .uikit-filter .btn-more-filters:hover {
  color: #004BCB;
}

.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search mat-icon {
  font-size: 17px;
  color: #004BCB;
  cursor: pointer !important;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search mat-icon:focus {
 color: #004BCB;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search mat-icon:hover {
  color: #004BCB;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search:hover {
  color: #004BCB;
  border-radius: 0px 20px 20px 0px;
  .mat-icon {
    color: #004BCB;
  }
}


.prime-button, .prime-flat-button, .prime-icon-button, .prime-stroked-button {
  line-height: 0px !important;
}
.prime-icon-button .prime-icon, .prime-icon-button i {
  line-height: 25px;
}

.prime-icon-button[aria-label="Acessibilidade"] {
  width:50px !important;
}
.prime-raised-button {
  line-height: 35px !important;
}
.prime-fab.prime-primary {
  background: #004BCB;
}
.prime-fab {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  line-height: 36px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  min-width: 0;
  flex-shrink: 0;
}
.prime-button, .prime-raised-button, .prime-icon-button, .prime-stroked-button, .prime-flat-button, .prime-fab, .prime-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.875em;
  font-weight: 500;
}
.prime-flat-button.prime-primary, .prime-raised-button.prime-primary, .prime-fab.prime-primary, .prime-mini-fab.prime-primary {
  color: white;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search prime-icon {
  font-size: 17px;
  color: #004BCB;
  cursor: pointer !important;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search prime-icon:focus {
  color: #004BCB;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search prime-icon:hover {
  color: #004BCB;
}
.uikit-content-header .uikit-content-body .uikit-filter .uikit-finder .btn-search:hover {
  color: #004BCB;
  border-radius: 0px 20px 20px 0px;
  .prime-icon {
    color: #004BCB;
  }
}
.ui-selectable-row {
  td {
    button {
      padding: 5px 7px 5px 7px;
      background: #fff;
      cursor: pointer;
      float:right;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.06);
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.04), 0px 1px 18px 0px rgba(0, 0, 0, 0.01);
      margin-right: 9px;
      i {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
    button:hover {
      background: #004BCB;
      background-color: #004BCB;
      border: 1px solid #fff;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.04), 0px 1px 18px 0px rgba(0, 0, 0, 0.01);
      i {
        font-size: 14px;
        color: #fff;
      }
    }
    button:focus {
      background: #004BCB;
      background-color: #004BCB;
      border: 1px solid #fff;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.04), 0px 1px 18px 0px rgba(0, 0, 0, 0.01);
      i {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}
.uikit-actions {
  button {
      width: auto;
      padding: 0 15px;
      border-radius: 25px;
      height: 40px;
      cursor: pointer;
      border: none;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 0.875em;
      font-weight: 500;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
  button:focus {
    border: none;
  }
  button:active {
    border: none;
  }
  button[color="primary"] {
    background:#004BCB;
    color:#fff;
  }

  .pi.pi-plus:before {
    content: "add";
    position: absolute;
    margin-top: 6px;
    left: 11px;
  }
}
.prime-fab[disabled]:not([class*='prime-elevation-z']), .prime-mini-fab[disabled]:not([class*='prime-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.uikit-content-header .uikit-content-body .uikit-actions .prime-mini-fab {
  width: 35px;
  height: 35px;
  cursor:pointer;
  box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.prime-flat-button.prime-primary[disabled], .prime-flat-button.prime-accent[disabled], .prime-flat-button.prime-warn[disabled], .prime-flat-button[disabled][disabled], .prime-raised-button.prime-primary[disabled], .prime-raised-button.prime-accent[disabled], .prime-raised-button.prime-warn[disabled], .prime-raised-button[disabled][disabled], .prime-fab.prime-primary[disabled], .prime-fab.prime-accent[disabled], .prime-fab.prime-warn[disabled], .prime-fab[disabled][disabled], .prime-mini-fab.prime-primary[disabled], .prime-mini-fab.prime-accent[disabled], .prime-mini-fab.prime-warn[disabled], .prime-mini-fab[disabled][disabled] {
  background-color: #bdbdbd;
  color: rgba(0, 0, 0, 0.26);
}
.prime-mini-fab[disabled] {
  cursor: default;
}
.prime-mini-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  top: -1px;
  padding:0 !important;
  line-height: 36px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  min-width: 0;
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
}
.prime-button, .prime-raised-button, .prime-icon-button, .prime-stroked-button, .prime-flat-button, .prime-fab, .prime-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.875em;
  font-weight: 500;
}
.prime-raised-button.prime-primary {
  background-color: #004BCB;
}

.prime-raised-button:not([class*='prime-elevation-z']) {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.prime-flat-button.prime-primary, .prime-raised-button.prime-primary, .prime-fab.prime-primary, .prime-mini-fab.prime-primary {
  color: white;
}
.prime-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.prime-raised-button {
  line-height: 35px !important;
}
.prime-flat-button {
  cursor: pointer;
}
.prime-button, .prime-raised-button, .prime-icon-button, .prime-stroked-button, .prime-flat-button, .prime-fab, .prime-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.875em;
  font-weight: 500;
}
.ui-icon-edit {
  padding:5px;
}
.prime-card {
  border: 1px solid #dce4ec;
  box-shadow: 0 25px 50px rgba(8, 21, 66, 0.06) !important;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  padding:16px;
  margin-top: 15px !important;
}
.filters-chips {
  .prime-flat-button {
    padding:5px 10px !important;
  }
}

.dark {
  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
      background:#fff !important;

  }
  .prime-card {
    border: 1px solid #424242 !important;
    background: #424242 !important;
    color: #fff !important;
  }
  .ui-selectable-row {
    td {
      button:hover {
        background: #212121 !important;
        background-color: #212121 !important;
        border: 1px solid #212121 !important;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.04), 0px 1px 18px 0px rgba(0, 0, 0, 0.01);
        i {
          margin:0 auto;
          font-size: 14px;
          color: #fff;
        }
      }
    }
  }
  .mat-fab.mat-primary {
    background: #fff !important;
  }
  .prime-fab.prime-primary {
    background: #fff !important;
  }
  .uikit-content-header {
    .uikit-content-body {
      .uikit-filter {
        .uikit-finder {
          .btn-search prime-icon:hover {
            color: #fff !important;
          }
          .btn-search prime-icon {
            color: #fff !important;
          }
          .btn-search mat-icon:hover {
            color: #fff !important;
          }
          .btn-search mat-icon:focus {
            color: #fff !important;
          }
          .btn-search mat-icon {
            color: #fff !important;
          }
        }
      }
    }
  }
  .uikit-actions {
     .prime-fab {
       color:#212121 !important;
     }
     .pi-plus {
       color:#212121;
     }
   }
}
