@mixin uikit-dropdown-list-theme($uikit-theme) {
  .dropdown-list {
    min-width: 280px;
    max-width: 350px;

    & ~ mat-action-list {
      flex: auto;
      display: flex;
      .mat-list-item-content {
        justify-content: center !important;
        font-size: $font-size-body !important;
        font-weight: bold !important;
      }
    }

    .shoutcast {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 16px;
      position: relative;
      height: inherit;
      justify-content: space-between;
    }

    h3 {
      display: flex;
      justify-content: space-between;
      background: $background-default;
      border-bottom: 1px solid $color-primary-border;
      margin-top: -16px !important;
      padding-top: 20px;
      button {
        right: -12px;
      }
    }

    h4 {
      font-size: $font-size-subheading !important;
      color: $text-color !important;
      font-weight: bold !important;
      padding: 0px !important;
      margin: 0px !important;
      margin-top: 10px !important;
      mat-icon {
        margin-right: 5px;
      }
    }
    & > div {
      width: 100%;
    }
    .date {
      font-size: $font-size-caption !important;
      line-height: $line-height-caption !important;
      color: $secondary-text-color !important;
    }
    p {
      font-size: $font-size-body !important;
      line-height: $line-height-body !important;
      color: $text-color !important;
      text-align: justify;
      display: flex !important;
      justify-content: space-between;
      width: 100%;
    }
  }

  mat-slider {
    width: 245px;
  }
}

@mixin uikit-dropdown-list-mobile-theme($uikit-theme) {
  @media only screen and (max-width: $screen-mobile) {
    .dropdown-list {
      min-width: 100% !important;
      max-width: 100% !important;
      width: 100vw !important;
      mat-slider {
        width: calc(100vw - 30px);
      }
    }
  }
}

@include uikit-dropdown-list-theme($uikit-theme);
@include uikit-dropdown-list-mobile-theme($uikit-theme);
