@mixin uikit-favnav-theme($uikit-theme) {
  .favnav {
    background: $app-bar-color;

    &.is-closed {
      opacity: 0;
      visibility: hidden;
    }
    &.is-active {
      top: -calc(#{$mat-toolbar-height} - 1px);
      transition: $transition;
      opacity: 1;
      height: 100vh;
      width: $favnav-width-pinned !important;
      box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.2),
        inset 10px 0px 10px -7px rgba(0, 0, 0, 0.2);
      transition: $transition !important;
      & > div {
        background: $favnav-background !important;
      }
    }
    & > div {
      height: 100%;
      padding-top: $mat-gutter-padding;
    }

    width: $favnav-width;
    height: calc(100vh - #{$favnav-width});
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: all $transition-timing-function 0.085s;
    border-right: 1px solid $color-primary-border;

    a {
      width: 100%;
      border-radius: unset;
      color: $icon-color !important;
      box-sizing: border-box; /* Opera/IE 8+ */
      &.active {
        border-left: 2px solid $color-primary;
        background: $background-default;
        mat-icon {
          color: $color-primary !important;
        }
      }
    }
  }
}

@mixin uikit-favnav-drag-theme($uikit-theme) {
  .favnav-placeholder {
    background: $favnav-drag-placeholder-bg;
    border: dotted 1px $favnav-drag-placeholder-text;
    min-height: 40px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-preview {
    background: $favnav-drag-placeholder-text !important;
    color: $favnav-drag-placeholder-bg !important;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
    border-radius: 0px !important;
    opacity: 0.85;
  }
}

@mixin uikit-favnav-mobile-theme($uikit-theme) {
  @media only screen and (max-width: $screen-mobile) {
    .favnav {
      display: none !important;
    }
  }
}

@include uikit-favnav-theme($uikit-theme);
@include uikit-favnav-drag-theme($uikit-theme);
@include uikit-favnav-mobile-theme($uikit-theme);
