$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 4px !default;
$hamburger-layer-color: $color-primary-contrast !default;
$hamburger-hover-opacity: 1 !default;

@import '~hamburgers/_sass/hamburgers/hamburgers.scss';


@mixin uikit-hamburger-menu-theme($uikit-theme) {
  .btn-hamburger {
    height: 100%;
    margin-left: -16px !important;
    border-radius: 0px !important;
    margin-right: $mat-gutter-padding !important;
    .hamburger-inner
    {
      background-color: $color-primary-contrast;
      &:after,
      &:before {
        background-color: inherit;
      }
    }
  }
}

@include uikit-hamburger-menu-theme($uikit-theme);
