@mixin uikit-header-theme($uikit-theme) {
  .logotipo {
    flex: auto;
    a {
      display: inline-block;
      padding-top: 10px;
      img {
        height: calc(#{$mat-toolbar-height} - 20px);
      }
    }
    a:active {
      outline: 0;
      border: none;
      outline-style: none;
    }
    a:focus {
      outline: 0;
      border: none;
      outline-style: none;
    }
  }
  uikit-login-iframe {
    position: relative;
    top: -38px;
    bottom:0 !important;
    .row-container {
      height: 93.4vh !important;
    }
  }
  mat-sidenav-container mat-sidenav-content {
    padding-bottom: 0px !important;
    margin-bottom: 38px !important;
  }
  .header-nav {
    display: contents;
    mat-icon {
      &.fa-2x {
        font-size: $header-icon-size;
      }
    }
    .acessibility {
      font-size: 1.8em !important;
      margin-top: 0px;
    }
  }
  .mat-raised-button .mat-button-wrapper {
    margin-top: 5px;
  }
  .btn-hamburger {
      border-radius:0px 0px 30px 0px  !important;
  }
  .mat-toolbar {
    border-bottom:1px solid #dce4ec;
  }
  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary  {
    color: #004BCB;
  }
  .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #004BCB;
  }

  .mat-raised-button.mat-primary {
    background-color: #004BCB;
  }

  .mat-toolbar-single-row {
    z-index: 2 !important;
  }
  .logomobile {
    height:45px;
    max-height:45px;
  }
  .logodesk {
    height:45px;
    max-height:45px;
  }
  .mat-icon {
    display:inline-flex !important;
    align-items:center !important;
    justify-content: center !important;
  }
  .mat-mini-fab {
    margin-top:5px;
  }
  .dark .mat-flat-button.mat-primary, .dark .mat-mini-fab.mat-primary {
    background-color:#fff !important;
  }
  .dark .mat-flat-button.mat-warn, .dark .mat-raised-button.mat-warn, .dark .mat-fab.mat-warn, .dark .mat-mini-fab.mat-warn {
    background-color:rgba(175, 175, 175, 0.54) !important;
  }
  .dark {
    .acessibility {
      color:#fff !important;
    }
    .mat-raised-button.mat-primary {
      background-color: #fff !important;
    }
    .mat-toolbar {
      border-bottom:1px solid #333 !important;
      position:fixed !important;
    }
    .aikit-nav mat-toolbar .aikit-button .mat-icon {
      color:#2B2B2B !important;
    }
    .aikit-nav mat-toolbar .aikit-button {
      background:#fff !important;
    }
    .aikit-nav .actions form mat-form-field.mat-focused .mat-form-field-label {
      color:#fff !important;
    }
    .aikit-nav .chat .messages .message.right {
      background:#303030 !important;
    }
    .aikit-nav .chat .messages .message.right:before {
        border-top:30px solid #303030 !important;
        border-left:0px solid #303030 !important;
    }
    .aikit-nav .chat .messages .message {
      background:#2b2b2b !important;
    }
    .aikit-nav .chat .messages .message.left:before{
      border-top:30px solid #2b2b2b !important;
      border-left:0px solid #2b2b2b !important;
    }
    mat-sidenav-container.is-rightPinned uikit-header mat-toolbar{
      padding-right:calc(330px - 48px) !important;
      position:fixed !important;
    }
  }

  .mat-toolbar-single-row {
    z-index: 2 !important;
  }
}

@media screen and (max-width:992px) {

    .atalhos {
      display:none !important;
    }

}
@include uikit-header-theme($uikit-theme);
