@mixin uikit-highlight-theme($uikit-theme) {
  body.dark {
    .active {
      li {
        background-color: #2b2b2b !important;

        a {
          mat-icon {
            color: $color-primary !important;
          }
        }
      }
    }
  }
  .active {
    li {
      background-color: #ecf2fe !important;

      a {
        mat-icon {
          color: $color-primary !important;
        }
      }
    }
  }
}

@include uikit-highlight-theme($uikit-theme);
