@mixin uikit-menu-theme($uikit-theme) {

  .menu-tree {
    margin: 0;
    padding: 0;
    list-style: none;

    .mat-tree-node {
      font-size: initial;
      display: initial;

      li {
        margin-bottom: 3px;
        width: 100%;
        display: flex;

        a {
          width: auto;
          flex: auto;
          text-align: left !important;
          border-radius: 0px !important;
          border-left: 2px solid transparent;
          min-height: 40px;
          align-items: center;
          display: flex;
          line-height: initial;

          mat-icon {
            font-size: $font-size-title !important;
          }

          &.active {
            border-left: 2px solid $color-primary;
            opacity: 1;
            background: $background-default;

            mat-icon {
              color: $color-primary !important;
            }
          }

          & + button {
            border-radius: 0px;
          }
        }

        mat-icon {
          font-size: $font-size-subtitle !important;
          color: $icon-color;
          width: 25px;

          &.mat-accent {
            color: $color-accent !important;
          }
        }
      }
    }

    .mat-nested-tree-node {
      margin-top: 3px;
      display: block;

      button:first-child {
        border-left: 2px solid transparent;
        font-weight: bold;
        text-transform: uppercase;
        color: $icon-color !important;
        font-size: inherit;
        width: 100%;
        text-align: left;
        border-radius: 0px;
        min-height: 40px;

        mat-icon {
          color: rgba(0, 0, 0, 0.24);
          width: 25px;

          &:last-child {
            float: right;
            margin-top: 11px;
            font-size: $font-size-title !important;
            margin-right: -15px;
          }
        }
      }

      &[aria-expanded="true"] {
        background: $background-default;
      }

      ul {
        margin: 0;
        padding: 0;

        a {
          padding-left: 35px;
        }
      }
    }

    .menu-tree-collapse {
    }

    .menu-tree-hidden {
      display: none;
    }
  }
}

@mixin uikit-menu-mobile-theme($uikit-theme) {
  @media only screen and (max-width: $screen-mobile) {
    .favmenu {
      display: block !important;
      margin-bottom: 20px !important;
      border-bottom: 1px solid $color-primary-border;
    }
  }
}

@include uikit-menu-theme($uikit-theme);
@include uikit-menu-mobile-theme($uikit-theme);
