@mixin uikit-menu-search-theme($uikit-theme) {
  .dark {
    [search-menu-container] {
      input {
        & {
          color: #fff !important;
          background: #555555 !important;
        }

        &::-webkit-input-placeholder {
          color: #fff !important;
        }

        &:-moz-placeholder {
          color: #fff !important;
        }

        &::-moz-placeholder {
          color: #fff !important;
        }

        &:-ms-input-placeholder {
          color: #fff !important;
        }
      }

      i.icon-search {
        color: #fff !important;

        &:hover {
          background: transparent;
        }
      }

      &[opened] {
        button[clear-button] {
          i {
            color: #fff !important;
          }
        }

        [resultados-container] {
          & {
            background: #555555 !important;
            color: #fff !important;
            border-right: 1px solid #333 !important;
            border-left: 1px solid #333 !important;
            border-bottom: 1px solid #333 !important;
          }

          span {
            color: #fff !important;
            border: 0 !important;
          }
        }

        input {
          background: #555555 !important;
          color: #fff !important;

          &::-webkit-input-placeholder {
            color: #fff !important;
          }

          &:-moz-placeholder {
            color: #fff !important;
          }

          &::-moz-placeholder {
            color: #fff !important;
          }

          &:-ms-input-placeholder {
            color: #fff !important;
          }
        }

        i.icon-search {
          color: #fff !important;

          &:hover {
            background: transparent;
          }
        }

        .icon-sobre {
          margin-left: -40px;
        }
      }
    }
  }
}

@include uikit-menu-search-theme($uikit-theme);
