@mixin uikit-paginator-theme($uikit-theme) {

   .mat-icon-button[ng-reflect-disabled='false'] {
      fill: #004BCB;
      color: #004BCB;

      .mat-paginator-icon {
        fill: #004BCB;
        color: #004BCB;
      }
    }

    .mat-paginator-icon {
      &:hover {
        fill: #004BCB;
        color: #004BCB;
      }

      &:focus {
        fill: #004BCB;
        color: #004BCB;
      }
    }

    .mat-select {
      &:hover {
        color: #004BCB;

        .mat-select-arrow {
          &:hover {
            color: #004BCB;
          }

          &:focus {
            color: #004BCB;
          }
        }
      }

      &:focus {
        color: #004BCB;

        .mat-select-arrow {
          &:hover {
            color: #004BCB;
          }

          &:focus {
            color: #004BCB;
          }
        }
      }
    }

    .mat-select-arrow {
      &:hover {
        color: #004BCB;
      }

      &:focus {
        color: #004BCB;
      }
    }

    mat-paginator {
      background: none !important;
      font-size: inherit;
      display: inline-block;

      .mat-paginator-container {
        padding: 0px;
        min-height: auto !important;
      }

      .mat-paginator-page-size {
        background-color: #cad0de;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        margin-left: -35px;
        position: relative;
        padding-right: 7px;
        padding-bottom: 5px;
        order: 2;
        z-index: 1;

        height: 100%;
        padding-top: 3px;
        margin-right: 0px;

        .mat-paginator-page-size-select {
          margin: 0px !important;
        }
      }

      .mat-paginator-page-size-label {
        display: none;
      }

      .mat-paginator-range-actions {
        order: 1;
        background: $app-bar-color;
        border-radius: 20px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0px rgba(0, 0, 0, 0.1);
        z-index: 2;

        .mat-paginator-range-label {
          margin: 0;
          order: 2;
          font-size: $font-size-caption;
        }

        .mat-paginator-navigation-previous {
          order: 1;
        }

        .mat-paginator-navigation-next {
          order: 3;
        }
      }

      .mat-form-field-infix {
        text-align: right;
        border: none;
      }

      .mat-form-field-wrapper {
        padding: 0px !important;

        .mat-select-value {
          display: none !important;
        }

        .mat-form-field-underline {
          display: none !important;
        }
      }
    }
  }

  .dark {
    mat-paginator {
      .mat-paginator-container {
      }

      .mat-paginator-page-size {
        background-color: #fff !important;
      }
    }
    .ui-selectable-row {
      .ui-button-secondary {
        color:#fff;
      }
    }
  }
  .dark .uikit-content-header .uikit-content-body .uikit-paginator mat-paginator .mat-paginator-page-size {
    background-color: #fff !important;
  }
  .dark .mat-select-arrow {
    color: #a3a3a3 !important;
  }
  .dark .uikit-content-header .uikit-content-body .uikit-paginator .mat-icon-button[ng-reflect-disabled='false'] .mat-paginator-icon {
    fill: #fff !important;
    color: #fff !important;
  }
