@mixin uikit-search-theme($uikit-theme) {
  .uikit-search {
    position: relative;
    margin-right: $mat-gutter-padding;

    .btn-back {
      display: none;
    }

    .btn-search {
      position: absolute;
      right: 0px;

      mat-icon {
        color: $icon-color;
      }
    }

    .mat-form-field {
      background: $favnav-background;
      border: none;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.1);
      line-height: 24px;

      .mat-form-field-wrapper {
        padding: 0px !important;

        .mat-form-field-infix {
          border: none;
          margin-right: 30px;

          .mat-input-element {
            font-size: $search-font-size !important;
            color: $text-color !important;
            line-height: 20px !important;
            padding: 0 10px !important;
            margin-right: 50px !important;
            width: auto;
          }

          .mat-form-field-label-wrapper {
            font-size: $search-font-size;
            color: $text-color;
            line-height: 31px;
            margin: 0 10px !important;
          }
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-form-field-should-float {
      .mat-form-field-label-wrapper {
        display: none;
      }
    }
  }

  .uikit-search-list {
    .mat-option {
      padding: 0px !important;

      a {
        display: block;
        padding: 6px 0 6px 30px;
        text-align: left;
        border-radius: 0px;
      }
    }
  }
}

[search-container] {
  [resultados-container] {
    span {
      color: #333 !important;
    }
  }
}

.icon-close {
  right:0px !important;
  top:-10px !important;
}

.dark {
  [search-container] {
    input {
      & {
        color: #fff !important;
        background: #555555 !important;
        border-bottom: 2px solid #fff !important;
      }

      &::-webkit-input-placeholder {
        color: #fff !important;
      }
      &:-moz-placeholder {
        color: #fff !important;
      }
      &::-moz-placeholder {
        color: #fff !important;
      }
      &:-ms-input-placeholder {
        color: #fff !important;
      }
    }
    i.icon-search {
      color: #fff !important;

      &:hover {
        background: transparent;
      }
    }
    &[opened] {
      button[clear-button] {
        i {
          color: #fff !important;
        }
      }

      [resultados-container] {
        & {
          background: #555555 !important;
          color: #fff !important;
          border-right: 1px solid #333 !important;
          border-left: 1px solid #333 !important;
          border-bottom: 1px solid #333 !important;
        }
        span {
          color: #fff !important;
          border: 0 !important;
        }
      }

      input {
        background: #555555 !important;
        color: #fff !important;

        &::-webkit-input-placeholder {
          color: #fff !important;
        }
        &:-moz-placeholder {
          color: #fff !important;
        }
        &::-moz-placeholder {
          color: #fff !important;
        }
        &:-ms-input-placeholder {
          color: #fff !important;
        }
      }

      i.icon-search {
        color: #fff !important;

        &:hover {
          background: transparent;
        }
      }
      .icon-sobre {
        margin-left: -40px;
      }
    }
  }
}

.search-item-title {
  a[selected] {
    span {
      background-color: none;
    }
  }

  a:hover {
    span {
      background-color: none;
    }
  }
}

@mixin uikit-search-mobile-theme($uikit-theme) {
  @media only screen and (max-width: 970px) {
    i[search-icon] {
      right: 0px !important;
    }
    .uikit-search {
      margin: 0px;
      position: initial;

      .btn-search {
        position: relative !important;

        mat-icon {
          color: $color-primary !important;
        }
      }

      .mat-form-field {
        background: $background-default;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        top: 0;
        padding-top: 12px;
        transition: all ease-in-out 0.25s;

        & input {
          width: 100% !important;
          max-width: 100% !important;
        }
      }

      .btn-back {
        display: none;
      }

      &.is-opened {
        right: 0px !important;
        top: 58px;
        width: 100% !important;
        max-width: 100% !important;

        button {
          .mat-icon {
            color: $icon-color !important;
          }
        }

        .btn-back {
          position: absolute !important;
          z-index: 2;
          left: 10px;
          display: block;
        }

        .mat-form-field {
          visibility: visible;
          opacity: 1;

          .mat-form-field-infix {
            margin-right: 0px;
            margin-left: 45px;
          }

          .mat-input-element {
            width: 100%;
            margin-right: 90px !important;
          }
        }
      }
    }
  }
}

@include uikit-search-theme($uikit-theme);
@include uikit-search-mobile-theme($uikit-theme);
