@mixin uikit-snackbar-theme($uikit-theme) {
  .snackbar-content-left {
    height: 98%;
    width: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .snackbar-info {
    background: #3297b3;
  }

  .snackbar-error {
    background: #dd1d1d;
  }

  .snackbar-warning {
    background: #f89306;
  }

  .snackbar-content-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .snackbar-warning .snackbar-content-left {
    background: #ed8a05;
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -5 35 35'%3E%3Cpath fill='rgb(255,255,255)' d='#{$ico-warning}'/%3E%3C/svg%3E") !important;
  }

  .snackbar-error .snackbar-content-left {
    background: #c40e0e;
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -5 35 35'%3E%3Cpath fill='rgb(255,255,255)' d='#{$ico-error}'/%3E%3C/svg%3E");
  }

  .snackbar-success .snackbar-content-left {
    background: #1e001e;
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -5 35 35'%3E%3Cpath fill='rgb(255,255,255)' d='#{$ico-success}'/%3E%3C/svg%3E");
  }

  body.dark .snackbar-success .snackbar-content-left {
    background: #d7d7d7;
  }

  .snackbar-info .snackbar-content-left {
    background: #28839d;
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -5 35 35'%3E%3Cpath fill='rgb(255,255,255)' d='#{$ico-info}'/%3E%3C/svg%3E");
  }

  .snackbar-details-error {
    min-height: 100px;
    resize: vertical;
    overflow: scroll;
    max-height: 250px;
  }

  .snackbar-details-error::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 8px !important;
    background-color: #dd1d1d !important;
  }

  .snackbar-details-error::-webkit-scrollbar {
    background-color: #dd1d1d !important;
    width: 9px;
    height: 9px;
  }

  .snackbar-details-error::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #c40e0e !important;
  }

  .snackbar-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 0 #ffffff;
  }
  .snackbar-close-button:hover,
  .snackbar-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
  button.snackbar-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
}

@include uikit-snackbar-theme($uikit-theme);
