<div *ngIf="!options.error" class="toast-content-left">
  <div class="toast-content-icon" *ngIf="options.icon">
    <i [class]="options.icon"></i>
  </div>
</div>
<div *ngIf="options.error" class="toast-content-topo">
  <p>Ops! Algo aconteceu.</p>
</div>
<button *ngIf="options.closeButton" (click)="remove()" class="toast-close-button" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row" [style.display]="state.value === 'inactive' ? 'none' : ''">
  <div class="col-9">
    <div *ngIf="options.title" [class]="options.titleClass" [attr.aria-label]="title">
      {{ options.title }}
    </div>
    <div *ngIf="options.message && options.enableHtml" role="alert" aria-live="polite" [class]="options.messageClass"
         [innerHTML]="message">
    </div>
    <div *ngIf="options.message && !options.enableHtml" role="alert" aria-live="polite" [class]="options.messageClass"
         [attr.aria-label]="message">
      {{ options.message }}
    </div>
  </div>
  <div *ngIf="options.objectAction && options.objectAction.display && !options.error"
       class="col-3 text-right toast-action">
    <a class="btn btn-link btn-sm" (click)="action($event)">
      {{ options.objectAction.display }}
    </a>
  </div>
</div>
<div *ngIf="options.error">
  <div class="icone"><i [class]="options.icon"></i></div>
  <details class="toast-error-details">

    <summary>{{options.error.name}}</summary>
    <div class="toast-details-error" id="style-3">
      <p>Message: {{options.error.message}}</p>
      <p>Stack: {{options.error.stack}}</p>
    </div>
  </details>
</div>

<div *ngIf="options.progressBar">
  <div class="toast-progress" [style.width]="width + '%'"></div>
</div>
