<mat-menu #systemInfo="matMenu">
  <mat-list class="dropdown-list list-reader" (click)="$event.stopPropagation()">
    <h3 mat-subheader>
      Informações do sistema
    </h3>
    <ng-content></ng-content>
    <!-- <mat-nav-list>
      <a mat-list-item *ngFor="let folder of folders" [class.is-read]="folder.read">
        <div>
          <h4>
            {{ folder.name }}
          </h4>
          <span class="date">{{ folder.date }}</span>
          <p>
            {{ folder.description }}
          </p>
        </div>
        <mat-icon matListIcon class="fa-lg far" [class.fa-eye]="!folder.read" [class.fa-eye-slash]="folder.read"></mat-icon>

        <mat-divider></mat-divider>
      </a>
    </mat-nav-list> -->
  </mat-list>

  <!-- <mat-action-list>
      <a  mat-list-item routerLink=".">ver todos</a>
    </mat-action-list> -->
</mat-menu>

<button
  mat-icon-button
  tabindex="4"
  color="primary"
  [matMenuTriggerFor]="systemInfo"
  matTooltip="Informações do sistema"
  aria-label="Informações do sistema"
>
  <mat-icon class="fa-2x fas fa-info-circle"></mat-icon>
</button>
