$color-blue: #004BCB;
$color-blue-light: #EDF3FF;
$font-size-md: 15px;
$font-family: "Roboto";
$font-size-xs: 13px;

@mixin apply-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color-blue;
  }
  &:-moz-placeholder {
    color: $color-blue;
  }
  &::-moz-placeholder {
    color: $color-blue;
  }
  &:-ms-input-placeholder {
    color: $color-blue;
  }
}

.search-menu {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='search' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-search fa-w-16 fa-2x' style=' color: %23004bcb; font-size: 16px;%0A'%3E%3Cpath fill='currentColor' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 5%;
  background-position-x: 97%;
}

.icon-back {
  position: absolute;
  padding: 13px;
  margin-left: 85%;
}

input {
  color: $color-blue;
  font-size: $font-size-xs;
  @include apply-placeholder($color-blue);
  padding: 15px 15px 15px 18px;
  width: 600px;
  height: 45px;
  line-height: 34px;
  top: 0;
  margin-top: 0px;
  margin-bottom: 3px;
  background: $color-blue-light;
  border-top: 1px solid #d9e3f7;
  border-bottom: 1px solid #d9e3f7;
}

i[search-icon] {
  font-size: $font-size-md;
  color: $color-blue;
}

.mat-list-base {
  paddint-top: 0px !important;
}

.dark {
  input {
    & {
      color: #fff !important;
      background: #555555 !important;
      border-bottom: 2px solid #fff !important;
    }

    &::-webkit-input-placeholder {
      color: #fff !important;
    }

    &:-moz-placeholder {
      color: #fff !important;
    }

    &::-moz-placeholder {
      color: #fff !important;
    }

    &:-ms-input-placeholder {
      color: #fff !important;
    }
  }

  i.icon-search {
    color: #fff !important;

    &:hover {
      background: transparent;
    }
  }

  &[opened] {
    button[clear-button] {
      i {
        color: #fff !important;
      }
    }

    [resultados-container] {
      & {
        background: #555555 !important;
        color: #fff !important;
        border-right: 1px solid #333 !important;
        border-left: 1px solid #333 !important;
        border-bottom: 1px solid #333 !important;
      }

      span {
        color: #fff !important;
        border: 0 !important;
      }
    }

    input {
      background: #555555 !important;
      color: #fff !important;

      &::-webkit-input-placeholder {
        color: #fff !important;
      }

      &:-moz-placeholder {
        color: #fff !important;
      }

      &::-moz-placeholder {
        color: #fff !important;
      }

      &:-ms-input-placeholder {
        color: #fff !important;
      }
    }

    i.icon-search {
      color: #fff !important;

      &:hover {
        background: transparent;
      }
    }

    .icon-sobre {
      margin-left: -40px;
    }
  }
}
