<form [formGroup]="stateForm" autocomplete="off">
  <div search-menu-container>
    <input class="search-menu" tabindex="3" matInput #searchOpen="matInput" placeholder="{{placeholderText}}" (keyup)="onKeyup($event)"
           formControlName="searchGroups"/>

    <uikit-menu-item></uikit-menu-item>
  </div>
</form>
