<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="error">
        <img src="{{ imageSrc }}" />
        <h3><b>Oops!</b> Página não encontrada</h3>
        <button mat-raised-button color="primary" (click)="goBack()">Clique aqui para voltar</button>
      </div>
    </div>
  </div>
</div>
