<button *ngIf="(user$ | async).authenticated === false; else notAuthenticated" mat-raised-button (click)="login()"
  class="btn-user-login" color="primary" tabindex="6">
  <span>Fazer Login</span>
</button>

<ng-template #notAuthenticated>
  <mat-menu #userInfoMenu="matMenu">
    <mat-list class="dropdown-list" (click)="$event.stopPropagation()">
      <div class="logged-info">
        <mat-list>
          <mat-list-item>
            <div mat-line>
              <h4>

                <b>
                  {{ (user$ | async).nickname ? (user$ | async).nickname : '' }}
                </b>

                <br>

                <i style="font-size: 13px;">
                  {{ (user$ | async).nickname && (user$ | async).name ? ' registrado(a) civilmente como ' : '' }}
                </i>

                <br>

                <b style="font-size: 13px;">
                  {{ (user$ | async).name ? (user$ | async).name : '' }}
                </b>

              </h4>
            </div>
            <div mat-line *ngIf="(user$ | async).email">
              <h4>{{ (user$ | async).email }}</h4>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-list *ngIf="(user$ | async) as user">
        <mat-list-item class="profiles" *ngIf="user.roles as roles">
          <div mat-line>
            <h4>
              <mat-icon class="fas fa-id-card"></mat-icon>
              {{ roles.length === 0 ? 'Sem perfil' : (roles.length === 1 ? 'Perfil' : 'Perfis') }}
            </h4>
          </div>
          <div mat-line *ngFor="let role of roles">
            {{ role }}
          </div>
        </mat-list-item>
      </mat-list>

      <mat-list>
        <mat-list-item style="min-height: auto !important;">
          <div mat-line>
            <ng-content></ng-content>
          </div>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>
      <mat-action-list>
        <a (click)="logout()" mat-list-item>Sair</a>
      </mat-action-list>
    </mat-list>
  </mat-menu>

  <button tabindex="6" mat-button class="btn-user-info" color="primary" [matMenuTriggerFor]="userInfoMenu"
    matTooltip="Usuário Autenticado" aria-label="Usuário Autenticado">
    <div class="userinfo">
      <div class="photo">
        <div class="picture">
          <mat-icon *ngIf="!(user$ | async).picture" aria-label="Example icon-button with a heart icon"
            class="fas fa-user"></mat-icon>
          <img *ngIf="(user$ | async).picture" [src]="(user$ | async).picture" alt="Foto do usuário logado" />
        </div>
        <mat-icon class="fas fa-chevron-circle-down"></mat-icon>
      </div>

      <div class="info">
        <span class="name">{{ (user$ | async).nickname || (user$ | async).given_name || (user$ | async).name }}</span>
        <!-- <span *ngFor="let role of (user$ | async).roles" class="location">{{ role }}</span> -->
      </div>
    </div>
  </button>
</ng-template>
