<mat-tree [dataSource]="favoritesMobile$ | async" [treeControl]="treeControlMobile"
          class="menu-tree is-mobile"
          *ngIf="(favorites$ | async).length > 0">

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <button mat-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.title">
      <mat-icon class="{{ node.icon }}"></mat-icon>
      {{ node.title }}

      <mat-icon
        class="{{ treeControlMobile.isExpanded(node) ? 'fas fa-caret-up' : 'fas fa-caret-down' }}"></mat-icon>
    </button>

    <ul class="menu-tree-collapse" [class.menu-tree-hidden]="!treeControlMobile.isExpanded(node)">
      <ng-container matTreeNodeOutlet></ng-container>
    </ul>
  </mat-nested-tree-node>

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <uikit-highlight [item]="node">
      <a role="option" [routerLinkActive]="'active'" [routerLink]="node.link ? node.link : ''"
         [routerLinkActiveOptions]="{exact:true}" mat-button matTooltip="Ir para '{{ node.title }}'"
         attr.aria-label="Ir para {{ node.title }}">
        <mat-icon class="{{ node.icon }}"></mat-icon>
        {{ node.title }}
      </a>
    </uikit-highlight>
  </mat-tree-node>
</mat-tree>

<mat-tree [dataSource]="menuItems$ | async" [treeControl]="treeControl" class="menu-tree">

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <uikit-highlight [item]="node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <a role="option" [routerLinkActive]="'active'" [routerLink]="node.link ? node.link : ''"
         [routerLinkActiveOptions]="{exact:true}" mat-button matTooltip="Ir para '{{ node.title }}'"
         attr.aria-label="Ir para {{ node.title }}">
        <mat-icon class="{{ node.icon }}"></mat-icon>
        {{ node.title }}
      </a>
      <button mat-icon-button *ngIf="possuiRecursoDeFavoritos && node.link">
        <mat-icon class="fa-lg fas fa-star"
                  [matTooltip]="!getIsFavorited(node) ? 'Adicionar \'' + node.title + '\' aos favoritos' : 'Remover \'' + node.title + '\' dos favoritos'"
                  (click)="toggleFavorito(node)" [color]="getIsFavorited(node) ? 'accent' : ''">
        </mat-icon>
      </button>
    </uikit-highlight>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <button mat-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.title">
        <mat-icon class="{{ node.icon }}"></mat-icon>
        {{ node.title }}
        <mat-icon class="{{ treeControl.isExpanded(node) ? 'fas fa-caret-up' : 'fas fa-caret-down' }}"></mat-icon>
      </button>
      <ul class="menu-tree-collapse" [class.menu-tree-hidden]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
