<button tabindex="-1" mat-icon-button color="primary" class="btn-attach" (click)="togglePinLeftNav()"
        [class.is-active]="(leftNav$ | async).opened" [class.is-pinned]="(leftNav$ | async).pinned">
  <mat-icon class="fas fa-thumbtack" aria-label="Fixar menu na tela"></mat-icon>
</button>

<uikit-menu>
  <div menu>

      <ng-content select="[nav-menu]"></ng-content>

  </div>
</uikit-menu>
<uikit-favnav *ngIf="hasFavoritosService"></uikit-favnav>
