<mat-toolbar>

  <button tabindex="1" mat-flat-button color="primary" type="button" aria-label="Abri menu de navegação"
    aria-controls="navigation" matTooltip="Abrir menu de navegação" (click)="toggle()"
    class="btn-hamburger hamburger--slider" [class.is-active]="(leftNav$ | async).opened">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <span class="logotipo">
    <a href="#" tabindex="1">
      <div class="logomobile is-mobile"></div>
      <div class="logodesk is-desktop"></div>
    </a>
  </span>

  <span class="header-nav">
    <uikit-notification *ngIf="showNotifications == true">
      <div notifications>
        <ng-content select="[header-notifications]"></ng-content>
      </div>
    </uikit-notification>
    <uikit-systeminfo *ngIf="showSystemInfo == true">
      <div systeminfo>
        <ng-content select="[header-systeminfo]"></ng-content>
      </div>
    </uikit-systeminfo>
    <uikit-accessibility [showIa]="showIa" [showShortcuts]="showShortcuts"></uikit-accessibility>
    <uikit-userinfo *ngIf="showUserInfo == true">
      <div userinfo>

        <ng-content select="[header-userinfo]"></ng-content>

      </div>
    </uikit-userinfo>

    <button *ngIf="showIa" class="aikit-button" mat-flat-button color="primary" type="button"
      aria-label="Abri menu de navegação" aria-controls="navigation" (click)="rightNavToggle()"
      matTooltip="Abri menu de navegação" matTooltip="Notificações" aria-label="Notificações" matBadge="2"
      matBadgeColor="accent" matBadgeSize="small" tabindex="7">
      <img src="../../assets/images/iakit-logotipo-mobile.svg" />
    </button>
  </span>
</mat-toolbar>